{% if objectList is not empty %}
    {{ knp_pagination_render(objectList, 'macros/pagination.html.twig') }}
    <div class="plain-list {% if entityName == "motherboard" %}w400p{% endif %} table">
        {% if entityName == "motherboard" %}<div class="list-entry centered" style="font-style:italic;display:none;">
            <div>Manufacturer</div>
            <div>Name</div>
            <div>Last Edited</div>
            <div>Actions</div>
        </div>{% endif %}
        {% if entityName == "formfactor" %}<div class="list-entry centered" style="font-style:italic;display:none;">
            <div>Type</div>
            <div>Actions</div>
        </div>{% endif %}
        {% for object in objectList %}
            {% include 'admin/manage/motherboards/' ~ entityName ~ '.html.twig' with {'object':object} %}	
        {% endfor %}
    </div>
    {{ knp_pagination_render(objectList, 'macros/pagination.html.twig') }}
{% endif %}