
div.cpu-head{
	background-color:$footer-link-color;
	color:$dark-color;
	@media (prefers-color-scheme: dark) {
		background-color: $btn-darkbg-color;
		color:$light-color;
	}
	padding: 15px;
	display:flex;
    justify-content: space-around;
	> div{
		display:flex;
		justify-content: center;
		flex-grow:4;
		&:nth-child(2){
			flex-grow:1;
		}
	}
}

div.dual-list-container {
	display: flex;
	column-gap: 25px;
}

div.dual-list-list {
	flex: 1 1 auto;
	max-width: 46%;
	select {
		overflow:auto;
		width:100%;
		height: 100%;
	}
}

div.dual-list-buttons {
	display: flex;
	flex-direction: column;
	align-self: center;
	button {
		width: 60px;
		height: 40px;
		text-align: center;
		align-items: center;
		justify-content: center;
	}
}
@media (prefers-color-scheme:dark){
	#add-all-selected-cpus, #remove-all-selected-cpus, #add-all-selected-npus, #remove-all-selected-npus {
		img{
			-webkit-filter: invert(100%);
			filter: invert(100%);
		}
	}
}
div.mobo-ea-btn{
	& > button.action-saveAndReturn, & > button.action-saveAndContinue, & > button.action-saveAndAddAnother{
		display:none;
	}
}

div.mobo-buttons{
	display: flex;
    flex-wrap: wrap;
    justify-content: right;
    row-gap: 1em;
    flex-direction: row;
    padding-left: 8px;
}