.form-group.field-collection .field-collection-delete-button {
    right: 0;
}
.btn-link-danger {
    transition: font-size 0.1s 0.1s, ease-in-out 0.1s color;
	padding:0;
	&:active, &:active:focus, &:focus, &:hover{
		color: rgb(247, 207, 62);
		&>i{font-size:24px;}
	}
}
.field-collection-add-button{
	transition: font-size 0.1s 0.15s, ease-in-out 0.15s color;
	&:active, &:active:focus, &:hover{
		color: rgb(247, 207, 62);
		font-size:24px;
	}
}
.accordion-body.trw{
	display: flex;
	column-gap: 5px;
	padding:10px;
	div.accordion-body-widget{
		flex-grow:1;
	}
	div.accordion-body-delete-btn{
		flex-grow:0;
		align-self: center;
	}
}
.editor-errors{
	display:flex;
	flex-direction:row;
	column-gap: 5px;
	align-items: center;
}
#Motherboard_motherboardBios{
	display:block;
	div.form-widget-compound > div{
		display:flex;
		flex-direction: row;
		> div:nth-child(1){flex-grow:10;width:13%;}
		> div:nth-child(3){flex-grow:20;}
		> div:nth-child(5){flex-grow:20;}
		> div:nth-child(7){flex-grow:1;width:8%;}
		> div:nth-child(9){flex-grow:1;width:8%;}
		> div:nth-child(11){flex-grow:3;}
	}
}
#Motherboard_motherboardIoPorts, #Motherboard_motherboardExpansionSlots{
	display:block;
	div.invalid-feedback{width:10px;}
	div.accordion-body.trw{padding:0px 10px;}
	div.form-widget-compound > div{
		display:flex;
		flex-direction: row;
		> div:nth-child(1){
			flex-grow:1;
			width:8%;
			input{max-width:45px;}
			> div{overflow: visible;white-space: nowrap;}
		}
		> div:nth-child(2):before{
			color: var(--form-input-text-color);
			line-height: 50px;
			content:'x';
			padding-left:3px;
		}
		> div:nth-child(3){flex-grow:10;width:50%;}
	}
}
