pre { padding: 5px; margin: 5px;color:black; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.log-collapsible {
	background-color: $btn-darkbg-color-hover;
	color: white;
	cursor: pointer;
	line-height: 4px;
	padding: 18px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }
  
  .active, .log-collapsible:hover {
	background-color: $link-hover-color;
	color:black;
  }
  
  .log-collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
  }
  
  .active:after {
	content: "\2212";
	color:black;
  }
  
  .log-content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	width: 25vw;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
  }
a.admin-button,a.admin-button-index {
	background-color: $btn-lightbg-color;
  	border: 1px solid $btn-darkbg-color-hover;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin-bottom: 4px;
	text-decoration:none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a.admin-button { padding:0px 5px 0px; }
a.admin-button img { padding-top:7px;vertical-align:top;display:inline-block; }
a.admin-button p { display:inline-block; }
a.admin-button-index { width:205px; }
a.admin-button:hover, a.admin-button-index:hover { background-color: $medium-color; }
a.admin-button p, a.admin-button-index p{ color: $dark-color; }
/* stats.html.twig */
dl {
	display: flex;
	background-color: $btn-lightbg-color;
	flex-direction: column;
	//width: 100%;
	max-width: 700px;
	position: relative;
	padding: 20px;
	dt {
		width: 100%;
		color:$dark-color;
		text-align: center;
		font-size: 1.2em;
		margin-bottom: 20px;
	  }
	dd.percentage {
		font-size: .8em;
		width: 75%;
		height: 40px;
		margin-left: 160px;
		background: repeating-linear-gradient(to right,#ddd,#ddd 1px,#fff 1px,#fff 5%);
		&:after {
			content: "";
			display: block;
			background-color: $link-hover-color1;
			height: 90%;
		}
	}
	@for $i from 1 through 100 {
	  dd.percentage-#{$i} {
		&:after {
		  $value: ($i * 1%);
		  width: $value;
		}
	  }
	}
	dd span.text {
		color:$dark-color;
		display: flex;
		align-items: center;
		height: 40px;
		width: 160px;
		background-color: $btn-lightbg-color;
		position: absolute;
		left: 0;
		justify-content: flex-end;
	}
} 

/* === manage_xxxx.html.twig === */
div.list-view{min-height:12em;}
table.results {
	border:1px solid $footer-link-color;
	border-collapse: collapse;
	border-radius: 0.2rem;
	tr td{ border-top:1px solid $footer-link-color;padding-top:3px;padding-bottom:3px;}
}

/* === add_xxxx.html.twig === */
div.editasset { width:50%;margin:auto; }
div.editasset form div div label { width:180px; }
div.editasset form div div input { width:400px; }
tr.darkbg { background-color: $footer-link-color; }
div.processing-search { display:inline-block;width:420px;vertical-align:bottom; }
div.processing-search div { display:inline-block;padding-left:5px; }
@media (max-width: 1199px) {
	.log-content { width: 34vw;}
	div.div-logs-table{overflow-x:scroll;}
	div.list-view{ height:auto;overflow-x:scroll; }
	dl {
		dd.percentage { margin-left: 100px;}
		dd span.text { width: auto; }
	}
}
@media (max-width: 1299px) {
	a.admin-button { float:none !important; }
	div.list-view { font-size:14px; }
}
@media only screen and (max-width: 500px) {
	a.admin-button-index { font-size: 16px;width:180px; }
	a.admin-button { font-size: 12px; }
	div.manage-buttons div button { height:25px; font-size:18px; }
	div.processing-search { width:auto; }
	::-webkit-scrollbar { -webkit-appearance: none; }
	::-webkit-scrollbar:horizontal { height: 12px; }
	::-webkit-scrollbar-thumb {
		background-color: $dark-color;
		border-radius: 10px;
		border: 2px solid $light-color;
	}
	::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: $light-color;
	}
	dl dd.percentage { margin-left: 60px;}
}
@media (min-width: 1400px) { .log-content { width: 34vw;}}
@media (min-width: 1620px) { .log-content { width: 42vw;}}
@media (prefers-color-scheme: dark) {
	a.admin-button, a.admin-button-index { background-color: $btn-darkbg-color; }
	a.admin-button:hover, a.admin-button-index:hover { background-color: $btn-darkbg-color-hover; }
	a.admin-button p, a.admin-button-index p{ color: $light-color; }
	tr.darkbg{ background-color: $btn-darkbg-color-hover; }
	table.results {
		border:1px solid #5f5f5f;
		border-collapse: collapse;
		tr td{ border-top:1px solid #303030;}
	}
}