
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

# Thumbnails and user uploads
/public/media/cache/*
/public/motherboard/bios/*
/public/motherboard/image/*
/public/motherboard/manual/*
/public/uploads/*
/public/icons/*
/public/chip/*
!public/media/cache/.gitkeep
!public/motherboard/bios/.gitkeep
!public/motherboard/image/.gitkeep
!public/motherboard/manual/.gitkeep

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
/nbproject/private/
