
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/migrations/*
/var/*
/vendor/*
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

# Thumbnails and user uploads
/public/media/cache/*
/public/motherboard/bios/*
/public/motherboard/image/*
/public/motherboard/manual/*
/public/uploads/*
/public/icons/*
/public/chip/*
!public/media/cache/.gitkeep
!public/motherboard/bios/.gitkeep
!public/motherboard/image/.gitkeep
!public/motherboard/manual/.gitkeep
