{% extends 'base.html.twig' %}

{% block title %}{% trans %}Contact Us{% endtrans %}{% endblock %}

{% block body %}
<h2 class="title">{% trans %}Contact Us{% endtrans %}</h2>

<div class="main"><div class="page" style="width:50%;">
	put contact info here
</div></div>

{% endblock %}