{% extends 'base.html.twig' %}

{% block title %}{% trans %}Contact Us{% endtrans %}{% endblock %}

{% block body %}
<h2 class="title">{% trans %}Contact Us{% endtrans %}</h2>
	You can find us on our Discord server here => 
	<a href="https://discord.gg/HWWH7hsk2p">https://discord.gg/HWWH7hsk2p</a><br>
	We also have a thread on VOGONS about UH19 =>
	<a href="https://www.vogons.org/viewtopic.php?f=46&t=74070">https://www.vogons.org/viewtopic.php?f=46&t=74070</a><br>
{% endblock %}