{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Credits{% endtrans %}
{% endblock %}
{% block opengraph %}
	<style>
		div.main {background-color:#191919 !important;color:#EEEEEE !important;overflow:hidden;background-repeat: repeat;background-image: url(/assets/images/background.webp);}
		a.credits-lnk:link { color: orange !important;}a.credits-lnk:visited { color: #00e874 !important;}
	</style>
{% endblock %}
{% block body %}
<div class="title"><b>{% trans %}About Ultimate Retro{% endtrans %}</b></div>
<p>This is a project aimed at documenting as many pieces of hardware as possible, built entirely by volunteers, who code for the site/add new entries in their free time.
All the images that are added on this site should comply with <a class="credits-lnk" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>, unless specified otherwise by the image owner.</p>
<p>Partial list of people who helped shape this project:</p>
<ul>
	<li>Deksor (project initiator)</li>
	<li>computerguy08 (UI development)</li>
	<li>Big Monstro, admin of <a class="credits-lnk" href="http://www.win3x.org/">win3x.org</a></li>
	<li>evasive, owner of <a class="credits-lnk" href="https://www.elhvb.com/">elhvb.com</a></li>
	<li>mR_Slug, creator of the <a class="credits-lnk" href="http://66.113.161.23/~mR_Slug/chipset/chipsets-v1.00.pl">chipset encyclopedia</a></li>
	<li>TheRealZago, creator of <a class="credits-lnk" href="https://theretroweb.com/">theretroweb.com</a></li>
	<li>scorp, aka Necroware on <a class="credits-lnk" href="https://www.youtube.com/channel/UCKU5nwSWYXa3xfXGBlKyvdw">YouTube</a></li>
	<li>Carlos S. M.</li>
	<li>edneil</li>
	<li>DecoySportsGame</li>
	<li>Predator99</li>
	<li>Luckybob</li>
</ul>
<p>You can also find us on these forums:</p>
<ul>
	<li><a class="credits-lnk" href="https://www.vogons.org/viewtopic.php?f=46&t=74070">VOGONS</a></li>
	<li><a class="credits-lnk" href="https://dosreloaded.de/forum/index.php?thread/3599-ultimate-retro-ehem-ultimate-hardware-2019/">DOSReloaded</a></li>
{% endblock %}
