{% extends 'base.html.twig' %}

{% block title %}Credits{% endblock %}

{% block body %}
<div class="title">
	<b>About Ultimate Hardware 2019</b>
</div>

<div class="main"><div class="page" style="width:50%;">
	<p>This project wouldn't exist without:</p>
	<ul>
	<li>Deksor (project initiator)</li>
	<li>computerguy08 (UI development)</li>
	<li>Big Monstro (owner of win3x.org)</li> 
	<li>evasive (owner of elhvb.com)</li>
	<li>mR_Slug (owner and creator of the chipset encyclopedia)</li>
	<li>scorp</li>
	<li>Carlos S. M.</li>
	<li>edneil</li>
	<li>DecoySportsGame</li>
	<li>Predator99</li>
	<li>Luckybob</li>
	<li>minuszerodegrees.com</li>
	<li>Total Hardware 1999</li>
	<li>Microhouse Technical Library</li>
	<li>as well as the contributors who add new content everyday!</li>
	</ul>
</div>
<div class="page" style="width:70%;">
	<img style="width:100%;" src="./assets/images/credits.gif" alt="" title="">
</div></div>

{% endblock %}