{% extends 'base.html.twig' %}

{% block title %}Credits - The Retro Web{% endblock %}
{% block metatags %}
	<meta name="description" content="The Retro Web motherboard database, here you can find board photos, BIOS images, manuals and more!">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('app_credits')) }}"/>
{% endblock %}
{% block opengraph %}
	<style>
		main {
			background-color: #191919 !important;
			color: #EEEEEE !important;
			background-repeat: repeat;
			background-image: url('/build/images/background.webp');
			text-shadow: 0 1px 5px black;
		}
		div.info-text {
			width: 90%;
			max-width: 1000px;
			margin: 0 auto;
		}
		a.credits-lnk:link {
			color: orange !important;
		}
	</style>
{% endblock %}
{% block subnav %}
<li>
	<a href="{{ path('app_info') }}">
		<img src="{{ absolute_url(asset('build/icons/about.svg')) }}" width="24" height="24" alt="info">
		<span>Info</span>
	</a>
</li>
<li>
	<span>About Us</span>
</li>
{% endblock %}
{% block body %}
	<div class="title"><b>About <img src="{{ absolute_url(asset('build/images/icon.png')) }}" width="40" height="40" alt="logo" style="vertical-align:middle;" title="UH19"> The Retro Web</b></div>
	<div class="info-text">
		<p>This is a project aimed at documenting as many pieces of hardware as possible, built entirely by volunteers, who code for the site/add new entries in their free time. We also have a <a class="credits-lnk" href="https://gitlab.com/deksor/ultimateretro">GitLab</a> repository, where you can see the code behind TRW.</p>
		<p>Partial list of people who helped shape this project:</p>
		<ul>
			<li>Deksor (project initiator)</li>
			<li>computerguy08 (UI development)</li>
			<li>TheRealZago, owner of the former theretroweb.com site</li>
			<li>evasive, owner of
				<a class="credits-lnk" href="https://www.elhvb.com/">elhvb.com</a>
			</li>
			<li>mR_Slug, creator of the
				<a class="credits-lnk" href="http://66.113.161.23/~mR_Slug/chipset/chipsets-v1.00.pl">chipset encyclopedia</a>
			</li>
			<li>scorp, aka Necroware on
				<a class="credits-lnk" href="https://www.youtube.com/channel/UCKU5nwSWYXa3xfXGBlKyvdw">YouTube</a>
			</li>
			<li>
				<a class="credits-lnk" href="https://0xcats.net/">0xCats</a>
			</li>
			<li>Carlos S. M.</li>
		</ul>
	</div>
	{% endblock %}
