{% extends 'base.html.twig' %}

{% block title %}Ultimate Hardware 2019{% endblock %}

{% block body %}
	<div class="title">
		<b>{% trans %}Where do you want to go today?{% endtrans %}</b>
	</div><br>
		<form action="./" class="index-buttons" method="get">
			<div class="main">
				<input type="submit" class="button1" name="motherboard" value={% trans %}"Search for a motherboard"{% endtrans %}>
				<input type="submit" class="button2" name="expansion" value={% trans %}"Find an expansion card"{% endtrans %} disabled="disabled">
			</div>
		</form>{% if is_granted('ROLE_ADMIN') %}

	<p><b>{% trans %}Recently added or updated boards:{% endtrans %}</b></p>
	<div class="results">
		<ul>
        {% for motherboard in latestMotherboards %}
			<li><a href="./motherboard/show/{{ motherboard.getId() }}">{{ motherboard.getManufacturerShortNameIfExist() }}&nbsp;{{ motherboard.name }}</a></li>		
		{% endfor %}	
		</ul>
	</div>{% endif %}
{% endblock %}