{% extends 'base.html.twig' %}
{% block metatags %}
	<meta name="description" content="The ultimate retro motherboard database, here you can find board photos, BIOS images, manuals and more!">
{% endblock %}

{% block body %}
	<h2 class="title">{% trans %}Where do you want to go today?{% endtrans %}</h2>
	<form action="./" class="index-buttons" method="get">
		<div class="main">
			<input type="submit" class="button1" name="motherboard" value="{% trans %}Search for a motherboard{% endtrans %}">
			<input type="submit" class="button2" name="expansion" value="{% trans %}Find an expansion card{% endtrans %}" disabled="disabled">
			<input type="submit" class="button3" name="bios" value="Find a BIOS image">
		</div>
	</form>
	<div class="perks">
		<p><b>{% trans %}Recently added or updated boards:{% endtrans %}</b></p>
		<div class="results">
			<ul>
        	{% for motherboard in latestMotherboards %}
				<li><a href="./motherboard/show/{{ motherboard.getId() }}">{{ motherboard.getManufacturerShortNameIfExist() }}&nbsp;{{ motherboard.name }}</a></li>		
			{% endfor %}
			
			</ul>
		</div>
	</div>
{% endblock %}