{% extends 'base.html.twig' %}

{% block title %}Support Us - The Retro Web{% endblock %}

{% block body %}
	<div class="title">Support Us</div>
	<div class="perks">
		<p><b>Help us keeping this project alive!</b></p>
	</div>
	<div>{% apply markdown_to_html %}We are a small scale operation, completely homebrew. We're building this website to help people like you finding information and resources that would be otherwise hard to find on the Internet. Consider it more like a fun side-project.
This is the reason we decided not to profit on this website, yet. If you decide to donate, be aware that we're not putting your money straight in our pockets, but it all goes to paying bills for keeping this place alive (namely, hosting space and domain). If we'll ever consider splitting some of the revenue among authors and contributors, we'll let you know.

If you like our website, we would greatly appreciate your financial help for keeping it online and in working order. There are two ways you can help support us:
{% endapply %}</div>
	<div class="perks">
		<div class="perks-list">
			<div class="perk">
				<a href="https://www.patreon.com/theretroweb">
					<div class="perk-image"><img src="{{ absolute_url(asset('build/icons/patreon.svg')) }}" width="24" height="24" alt="liberapay"></div>
					<div class="perk-name">Patreon</div>
					<div class="perk-date">The most popular way to support your favorite creators, with pre-established monthly pledges. Some of what you pay goes to Patreon for their own running costs and for paying their team.</div>
				</a>
			</div>
			<div class="perk">
				<a href="https://liberapay.com/TheRetroWeb_/">
					<div class="perk-image"><img src="{{ absolute_url(asset('build/icons/liberapay.svg')) }}" width="24" height="24" alt="liberapay"></div>
					<div class="perk-name">LiberaPay</div>
					<div class="perk-date">The most flexible option, where you can set up your own payment scheme. It can be a weekly, monthly or yearly pledge, for the exact amount you want and your favorite currency. No constraints applied.</div>
				</a>
			</div>
		</div>
	</div>

{% endblock %}
