<thead>
    <tr>
        <td><i>Manufacturer</i></td>
        <td><i>Name</i></td>
        <td><i>Core</i></td>
        <td><i>Speed</i></td>
        <td><i>Voltages</i></td>
        <td><i>Cache</i></td>
        <td><i>Process Node</i></td>
        <td><i>TDP</i></td>
        <td><i>Action</i></td>
    </tr>
</thead>