<div class="row">
    <div class="col-sm-12 col-lg-6 col-xxl-4">
        <button id="update-specs-btn" class="btn btn-secondary btn-success" type="button">
            <span class="btn-label"><span class="action-label">Update specs</span></span>
        </button>
        <span id="update-specs-label" style="text-wrap:nowrap;"></span>
        {% if entity == "card" %}
            <button id="set-template-btn" class="btn btn-secondary btn-warning" type="button">
                <span class="btn-label"><span class="action-label">Set template</span></span>
            </button>
        {% endif %}
        <span id="specs-form-label" style="text-wrap:nowrap;"></span>
        <div class="formatted-specs form-group field-collection">
            <div class="form-widget">
                <button type="button" id="specs-add-item-btn" class="btn btn-link field-collection-add-kv-button">
                    <i class="fa fa-plus pr-1"></i>
                    Add a new key/value item
                </button>
                <button type="button" id="specs-add-table-btn" class="btn btn-link field-collection-add-table-button">
                    <i class="fa fa-plus pr-1"></i>
                    Add a new table
                </button>
                <div class="ea-form-collection-items" id="MiscSpecs_collection">
                    <div class="ea-form-collection-items">
                        <div class="accordion">
                            <div class="form-widget-compound">
                                <div class="empty collection-empty" style="padding-top:0">
                                    <span id="MiscSpecs_emptybadge" class="badge badge-secondary">Empty</span>
                                </div>
                                <div id="specs-collection">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-xxl-6 card-specs-grid">
        {{ form_widget(form)}}
    </div>
</div>
<template id="specs-template-item">
    <div class="accordion-item">
        <div id="MiscSpecs_{id}-contents"
            class="accordion-collapse collapse show">
            <div class="accordion-body trw">
                <div class="accordion-body-widget">
                    <div class="form-widget-compound">
                        <div id="MiscSpecs_{id}">
                            <div>
                                <div class="specs-elements form-group">
                                    <label for="MiscSpecs_{id}_key" class="form-control-label">Key</label>
                                    <div class="form-widget first">
                                        <input type="text" placeholder="Property:" id="MiscSpecs_{id}_key" name="ExpansionCard[miscSpecs][{id}][key]" class="form-control">
                                    </div>
                                    <label for="MiscSpecs_{id}_value" class="form-control-label">Value</label>
                                    <div class="form-widget second">
                                        <input type="text" placeholder="Value:" id="MiscSpecs_{id}_value" name="ExpansionCard[miscSpecs][{id}][value]" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-body-delete-btn">
                    <button id="MiscSpecs_{id}_deletebtn" type="button" class="btn btn-link btn-link-danger field-collection-delete-button" style="position:relative;" title="Remove the item">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </div>
        <button class="accordion-button" style="width:0;display:none;" type="button" data-bs-toggle="collapse" data-bs-target="#MiscSpecs_{id}-contents">
            <i class="fas fw fa-chevron-right form-collection-item-collapse-marker"></i>
        </button>
    </div>
</template>
<template id="specs-template-table">
    <div class="accordion-item">
        <div id="MiscSpecs_table_{id}-contents" class="accordion-collapse collapse show">
            <div class="accordion-body trw">
                <div class="accordion-body-widget">
                    <button id="MiscSpecs_table_{id}_addbtn" type="button" class="btn btn-link field-collection-add-kv-button">
                        <i class="fa fa-plus pr-1"></i>
                        Add a new key/value item
                    </button>
                    <div class="">
                        <label for="MiscSpecs_table_{id}_name" class="form-control-label" style="display: none">Table name</label>
                        <div class="form-widget first">
                            <input type="text" placeholder="Table name:" id="MiscSpecs_table_{id}_name"
                                name="ExpansionCard[miscSpecs][{id}][key]" class="form-control">
                        </div>
                    </div>
                    <div class="ea-form-collection-items" id="MiscSpecs_table_collection_{id}">
                        <div class="ea-form-collection-items">
                            <div class="accordion">
                                <div class="form-widget-compound">
                                    <div id="specs-table-collection-{id}">
                                        <div class="empty collection-empty" style="padding-top:0">
                                            <span id="MiscSpecs_emptybadge_{id}" class="badge badge-secondary">Empty</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-body-delete-btn">
                        <button id="MiscSpecs_table_{id}_deletebtn" type="button"
                            class="btn btn-link btn-link-danger" style="position:relative;"
                            title="Remove the item">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<template id="specs-template-table-item">
    <div class="accordion-item">
        <div id="MiscSpecs_table_{id1}_{id2}-contents"
            class="accordion-collapse collapse show">
            <div class="accordion-body trw">
                <div class="accordion-body-widget">
                    <div class="form-widget-compound">
                        <div id="MiscSpecs_table_{id1}_{id2}">
                            <div class="">
                                <div class="specs-elements form-group">
                                    <label for="MiscSpecs_table_{id1}_{id2}_key" class="form-control-label">Key</label>
                                    <div class="form-widget first">
                                        <input type="text" placeholder="Property:" id="MiscSpecs_table_{id1}_{id2}_key" name="ExpansionCard[miscSpecs][{id1}][{id2}][key]" class="form-control">
                                    </div>
                                    <label for="MiscSpecs_table_{id1}_{id2}_value" class="form-control-label">Value</label>
                                    <div class="form-widget second">
                                        <input type="text" placeholder="Value:" id="MiscSpecs_table_{id1}_{id2}_value" name="ExpansionCard[miscSpecs][{id1}][{id2}][value]" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-body-delete-btn">
                    <button id="MiscSpecs_table_{id1}_{id2}_deletebtn" type="button" class="btn btn-link btn-link-danger" style="position:relative;" title="Remove the item">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </div>
            </div>
        </div>
        <button class="accordion-button" style="width:0;display:none;" type="button" data-bs-toggle="collapse" data-bs-target="#MiscSpecs_table_{id1}_{id2}-contents">
            <i class="fas fw fa-chevron-right form-collection-item-collapse-marker"></i>
        </button>
    </div>
</template>
