 <tr>
    <td>{{object.getName()}}</td>
    <td><a href="{{object.getWebsite()}}">{{object.getWebsite()}}</a></td>
    <td><a class="result-link" href="./miscs/creditors/{{ object.getId() }}/edit/">Edit</a></td>
</tr>