<div class="list-entry centered">
    <div class="header-label">Speed</div>
    <div>{{object.getValueWithUnit()}}</div>

    <div class="header-label">Actions</div>
    <div class="toolbar toolbar-thin">
        <a class="button" href="./miscs/freqs/{{ object.getId() }}/edit/">
            <img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="20">Edit</a>
    </div>
</div>	