{% if objectList is not empty %}
    {{ knp_pagination_render(objectList, 'macros/pagination.html.twig') }}
    <div class="plain-list {% if entityName == "creditor" %}w400p{% endif %}{% if entityName == "issue" %}w300p{% endif %} table">
        {% if entityName == "manufacturer" %}<div class="list-entry centered" style="font-style:italic;display:none;">
            <div>Real name</div>
            <div>Name</div>
            <div>Short name</div>
            <div>FCC ID</div>
            <div>PCI VEN</div>
            <div>Actions</div>
        </div>{% endif %}
        {% if entityName == "issue" %}<div class="list-entry centered" style="font-style:italic;display:none;">
            <div>Description</div>
            <div>Actions</div>
        </div>{% endif %}
        {% if entityName == "freq" %}<div class="list-entry centered" style="font-style:italic;display:none;">
            <div>Speed</div>
            <div>Actions</div>
        </div>{% endif %}
        {% if entityName == "creditor" or entityName == "license" %}<div class="list-entry centered" style="font-style:italic;display:none;">
            <div>Name</div>
            <div>Website</div>
            <div>Image count</div>
            <div>License</div>
            <div>Actions</div>
        </div>{% endif %}
        {% for object in objectList %}
            {% include 'admin/manage/miscs/' ~ entityName ~ '.html.twig' with {'object':object} %}	
        {% endfor %}
    </div>
    {{ knp_pagination_render(objectList, 'macros/pagination.html.twig') }}
{% endif %}