{% if objectList is not empty %}
    {{ knp_pagination_render(objectList, 'macros/pagination.html.twig') }}
    <table class="results">
        {% include 'admin/manage/miscs/' ~ entityName ~ '_thead.html.twig' %}
        {% for object in objectList %}
            {% include 'admin/manage/miscs/' ~ entityName ~ '.html.twig' with {'object':object} %}	
        {% endfor %}
    </table>
    {% if objectList.count > 25 %}{{ knp_pagination_render(objectList, 'macros/pagination.html.twig') }}{% endif %}
{% endif %}