<tr>
    <td>{{object.getName()}}</td>
    <td>{{object.getShortName()}}</td>
    <td>
        <a class="snav" href="./miscs/manufacturers/{{ object.getId() }}/edit/">
            <img src="{{ absolute_url(asset('build/icons/show/edit.svg')) }}" alt="" width="24">Edit</a>
    </td>
</tr>	