{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'User settings' %}
{% block page_content %}
<div class="row"><div class="col-6">
	<div class="index-buttons">
		<a href="{{ ea_url()
            .setDashboard('App\\Controller\\Admin\\DashboardController')
            .setRoute('admin_user_changepwd')}}">
			<img src="{{ absolute_url(asset('build/icons/admin/keys.svg')) }}" alt="passwd">
			<div>Change password</div>
		</a>
		<a href="{{ ea_url()
            .setDashboard('App\\Controller\\Admin\\DashboardController')
            .setRoute('admin_user_changename')}}">
			<img src="{{ absolute_url(asset('build/icons/admin/user_chg.svg')) }}" alt="">
			<div>Change username</div>
		</a>
	</div>
</div></div>
{% endblock %}
