{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Error' %}
{% block page_content %}
<div class="title">
	<h3>{{ message }}</h3>
</div>
<div style="margin:5px;display:table;">
    <a class="button" href="{{ ea_url()
            .setDashboard('App\\Controller\\Admin\\DashboardController')
            .setRoute(path)}}" style="display:inline-block;padding: 5px;border: 1px solid gray;">
		<img src="{{ absolute_url(asset('build/icons/back.svg')) }}" alt="" width="24" style="vertical-align: middle;padding-right:2px;">Go back</a>
</div>
{% endblock %}