{% extends 'admin/header.html.twig' %}

{% block title %}Manage cpu speed{% endblock %}

{% block body %}
<div style="height:6em;"></div>
<div class="editasset">
	<h2><b>Edit: CPU speeds</b></h2>
    {{ form(form) }}
</div>

{% endblock %}