{% extends 'admin/header.html.twig' %}

{% block title %}Administration index{% endblock %}

{% block body %}
	<h2 class="title">Administration page</h2>
	<div class="main" style="padding-top: 18px">
		<form action="./admin/manage_resources/" style="display: inline"><div style="display: inline">
			<input type="submit" class="admin-button" style="background: #ebebeb url(./assets/images/db.png) center no-repeat;" value="Manage resouces">
		</div></form>
		{% if is_granted('ROLE_SUPER_ADMIN') %}
			<form action="./admin/manage_users/" style="display: inline"><div style="display: inline">
				<input type="submit" class="admin-button" style="background: #ebebeb url(./assets/images/usrs.png) center no-repeat;" value="Manage users">
			</div></form>
		{% endif %}
		<form action="./admin/password" style="display: inline"><div style="display: inline">
			<input type="submit" class="admin-button" style="background: #ebebeb url(./assets/images/usrs.png) center no-repeat;" value="Change password">
		</div></form>
	</div>
{% endblock %}
