{% extends 'admin/header.html.twig' %}

{% block title %}Administration index{% endblock %}

{% block body %}
<h2 class="title">Administration page</h2>
<a href="../motherboard/add" class="admin-button">
	<img src="./assets/images/motherboard_add.jpg" style="padding:8px 25px 0px">
	<p>Add a new board</p>
</a>
<a href="./admin/manage/processingunits" class="admin-button">
	<img src="./assets/images/486dx.png" style="padding:0px 30px 0px">
	<p>Manage processing units</p>
</a>
<a href="./admin/manage/memories" class="admin-button">
	<img src="./assets/images/memory.png" style="padding:2px 0px 1px">
	<p>Manage memory</p>
</a>
<a href="./admin/manage/chipsets" class="admin-button">
	<img src="./assets/images/chip.png" style="padding:2px 25px 2px">
	<p>Manage chipsets</p>
</a>
<a href="./admin/manage/expansionchipsets" class="admin-button">
	<img src="./assets/images/chip.png" style="padding:2px 25px 2px">
	<p>Manage expansion chipsets</p>
</a>
<a href="./admin/manage/connectors" class="admin-button">
	<img src="./assets/images/chip.png" style="padding:2px 25px 2px">
	<p>Manage connectors</p>
</a>
<a href="./admin/manage/miscs" class="admin-button">
	<img src="./assets/images/chip.png" style="padding:2px 25px 2px">
	<p>Manage miscs</p>
</a>
<a href="./admin/password" class="admin-button">
	<img src="./assets/images/login.gif" style="padding:5px 30px 5px">
	<p>Change password</p>
</a>
{% if is_granted('ROLE_SUPER_ADMIN') %}
	<a href="./admin/manage_users/" class="admin-button">
		<img src="./assets/images/login.gif" style="padding:5px 30px 5px">
		<p>Manage users</p>
	</a>
{% endif %}
<br>
<br>
OLD PAGE STARTS HERE
<a href="./admin/manage_resources/" class="admin-button">
		<p>Manage resources</p>
		<p>(legacy)</p>
</a>
		<div class="perks" style="text-align: left;">
			<p><b>{% trans %}Board count: {% endtrans %} {{moboCount}}</b></p>
			<p><b>{% trans %}The last 50 added or updated boards:{% endtrans %}</b></p>
			<div class="results">
				<ul>
        		{% for motherboard in latestMotherboards %}
					<li><a href="./motherboard/show/{{ motherboard.getId() }}">{{ motherboard.getManufacturerShortNameIfExist() }}&nbsp;{{ motherboard.name }}</a></li>		
				{% endfor %}
				</ul>
			</div>
			<br>
		</div>
	</div>
{% endblock %}
