{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Stats{% endtrans %}
{% endblock %}

{% block body %}
	<div class="title">
		<b>Statistics</b>
	</div>
	<p><b>{% trans %}Board count:{% endtrans %} {{moboCount}}</b></p>
	other stuff coming soon.

{% endblock %}
