{% if entity is defined and entity is not empty %}
<p class="app-paragraph-heading">{{ msg }}</p>
<div>
{% apply markdown_to_html %}{% for alias in entity|sort %}
* {{ alias.getFullAliasName() }}
{% endfor %}{% endapply %}
</div>
{% endif %}