
{% if type == "add" %}
    <a id="{{action}}-add-id" class="button-widget-new" data-action="click->collection#expandButton" onclick="expand('{{action}}-fields-list')">
        <span data-list-id="{{action}}-fields-list"><i class="fa fa-plus pr-1"></i> Add a new item</span>
    </a>
{% endif %}
{% if type == "del" %}
    <a style='min-width:2.5em;' class='button-widget' onclick='remove(this)'>
        <img src='{{ absolute_url(asset('build/icons/delete.svg')) }}' alt='' width='16'>
        <span>Del</span>
    </a>
{% endif %}