{% set imgUrl = vich_uploader_asset(image, 'imageFile') %}
{% set imgSrc = vich_uploader_asset(image, 'imageFile') %}
{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
	{% set imgSrc = vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') %}
{% endif %}

{% set imgCaption = "" %}
{% if type == "chipset" %}
	{% set imgCaption = chipPart.getFullName() %}
{% endif %}
{% if image.creditor %}
	{% set imgCaption = imgCaption ~ "<div style='float:right;color:black;'><div>" %}
	{% if image.creditor.website %}
		{% set imgCaption = imgCaption ~ "<a class=creditor-href href=#{image.creditor.website}>Image by #{image.creditor.name}</a>" %}
	{% else %}
		{% set imgCaption = imgCaption ~ "Image by #{image.creditor.name}" %}
	{% endif %}
	{% set imgCaption = imgCaption ~ "</div></div>" %}
	{% set imgCaption = imgCaption ~ "<div>" %}
	{% if image.creditor.license %}
		{% set imgCaption = imgCaption ~ "<a class=license-href href=#{image.creditor.license.website}>#{image.creditor.license.name}</a>" %}
	{% endif %}
	{% set imgCaption = imgCaption ~ "</div>" %}
{% endif %}
{% if image.description %}
	{% set imgCaption = imgCaption ~ "<p style='color:black;'>Notes: #{image.description}</p>" %}
{% endif %}

{% include 'macros/card-glightbox.html.twig' with {
	'url': imgUrl,
	'image': imgSrc,
	'imageAlt': "image" ~ index,
	'title': "Image " ~ index ~ " of " ~ length ~ (image.creditor ? ' (' ~ image.creditor.name ~ ')'),
	'caption': imgCaption,
} %}
