<p class="app-paragraph-heading">Last edited {{ entity_label }}</p>
<div id="index-datetime" class="app-cards-autogrid">
{% for item in entity %}
	{# common variables #}
	{% set thumbnailUrl = "" %}
	{% set thumbnailAlt = "" %}
	{% set defaultImage = "" %}
	{% set imgtype_count = 0 %}
	{% set isAprilFools = "now"|date("m") == 4 and "now"|date("d") == 1 %}

	{% if type == 'motherboard' %}
		{% set defaultImage = absolute_url(asset('build/images/missing/board-missing.jpg')) %}
		{% if item.getImages() is not empty %}
			{% if isAprilFools %}
				{% set thumbnailUrl = absolute_url(asset('build/images/m666.jpg')) %}
				{% set thumbnailAlt = "looks like someone deleted all the images, only this one survived" %}
				{% set imgtype_count = 1 %}
			{% else %}
				{% for image in item.getImages()|filter(a => a.motherboardImageType.id in [1, 2])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.motherboardImageType <=> a.motherboardImageType)|slice(0, 1) %}
					{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
						{% set thumbnailUrl = vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') %}
					{% else %}
						{% set thumbnailUrl = vich_uploader_asset(image, 'imageFile') %}
					{% endif %}
					{% if image.description %}
						{% set thumbnailAlt = image.description %}
					{% endif %}
					{% set imgtype_count = imgtype_count + 1 %}
				{% endfor %}
			{% endif %}
		{% endif %}
	{% endif %}

	{# exp cards #}
	{% if type == 'card' %}
		{% set defaultImage = absolute_url(asset('build/images/missing/card-missing.jpg')) %}
		{% if item.getImages() is not empty %}
			{% if isAprilFools %}
				{% set thumbnailUrl = absolute_url(asset('build/images/m666.jpg')) %}
				{% set thumbnailAlt = "looks like someone deleted all the images, only this one survived" %}
				{% set imgtype_count = 1 %}
			{% else %}
				{% for image in item.getImages()|filter(a => a.type in ["1", "2"])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.type <=> a.type)|slice(0, 1) %}
					{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
						{% set thumbnailUrl = vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') %}
					{% else %}
						{% set thumbnailUrl = vich_uploader_asset(image, 'imageFile') %}
					{% endif %}
					{% if image.description %}
						{% set thumbnailAlt = image.description %}
					{% endif %}
					{% set imgtype_count = imgtype_count + 1 %}
				{% endfor %}
			{% endif %}
		{% endif %}
	{% endif %}

	{# chips #}
	{% if type == 'chip' %}
		{% set defaultImage = absolute_url(asset('build/images/missing/chip-missing.jpg')) %}
		{% if item.getImages() is not empty %}
			{% for image in item.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.sort <=> b.sort)|slice(0, 1) %}
				{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
					{% set thumbnailUrl = vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') %}
				{% else %}
					{% set thumbnailUrl = vich_uploader_asset(image, 'imageFile') %}
				{% endif %}
				{% if image.description %}
					{% set thumbnailAlt = image.description %}
				{% endif %}
				{% set imgtype_count = imgtype_count + 1 %}
			{% endfor %}
		{% endif %}
	{% endif %}

	{# cpus #}
	{% if type == 'cpu' %}
		{% set defaultImage = absolute_url(asset('build/images/missing/cpu-missing.jpg')) %}
		{% if item.getImages() is not empty %}
			{% for image in item.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.sort <=> b.sort)|slice(0, 1) %}
				{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
					{% set thumbnailUrl = vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') %}
				{% else %}
					{% set thumbnailUrl = vich_uploader_asset(image, 'imageFile') %}
				{% endif %}
				{% if image.description %}
					{% set thumbnailAlt = image.description %}
				{% endif %}
				{% set imgtype_count = imgtype_count + 1 %}
			{% endfor %}
		{% endif %}
	{% endif %}

	{# chipsets #}
	{% if type == 'chipset' %}
		{% set defaultImage = absolute_url(asset('build/images/missing/chipset-missing.jpg')) %}
		{% if item.getExpansionChips() is not empty %}
			{% for chipPart in item.getExpansionChips()|sort((a, b) => a.sort <=> b.sort)|slice(0, 1) %}
				{% if chipPart.getImages() is not empty %}
					{% for image in chipPart.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.sort <=> b.sort)|slice(0, 1) %}
						{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
							{% set thumbnailUrl = vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') %}
						{% else %}
							{% set thumbnailUrl = vich_uploader_asset(image, 'imageFile') %}
						{% endif %}
						{% if image.description %}
							{% set thumbnailAlt = image.description %}
						{% endif %}
						{% set imgtype_count = imgtype_count + 1 %}
					{% endfor %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endif %}

	{# hdds #}
	{% if type == 'hdd' %}
		{% set defaultImage = absolute_url(asset('build/images/missing/hdd-missing.jpg')) %}
		{% if item.getStorageDeviceImages() is not empty %}
			{% for image in item.getStorageDeviceImages()|filter(a => a.type in ["1", "2"])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.type <=> a.type)|slice(0, 1) %}
				{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
					{% set thumbnailUrl = vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') %}
				{% else %}
					{% set thumbnailUrl = vich_uploader_asset(image, 'imageFile') %}
				{% endif %}
				{% if image.description %}
					{% set thumbnailAlt = image.description %}
				{% endif %}
				{% set imgtype_count = imgtype_count + 1 %}
			{% endfor %}
		{% endif %}
	{% endif %}

	{# cdds #}
	{% if type == 'cdd' %}
		{% if item.getStorageDeviceImages() is not empty %}
			{% for image in item.getStorageDeviceImages()|filter(a => a.type in ["1", "2", "3"])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.getType <=> a.getType)|slice(0, 1) %}
				{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
					{% set thumbnailUrl = vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') %}
				{% else %}
					{% set thumbnailUrl = vich_uploader_asset(image, 'imageFile') %}
				{% endif %}
				{% if image.description %}
					{% set thumbnailAlt = image.description %}
				{% endif %}
				{% set imgtype_count = imgtype_count + 1 %}
			{% endfor %}
		{% endif %}
	{% endif %}

	{# fdds #}
	{% if type == 'fdd' %}
		{% if item.getStorageDeviceImages() is not empty %}
			{% for image in item.getStorageDeviceImages()|filter(a => a.type in ["1", "2", "3"])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.getType <=> a.getType)|slice(0, 1) %}
				{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
					{% set thumbnailUrl = vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') %}
				{% else %}
					{% set thumbnailUrl = vich_uploader_asset(image, 'imageFile') %}
				{% endif %}
				{% if image.description %}
					{% set thumbnailAlt = image.description %}
				{% endif %}
				{% set imgtype_count = imgtype_count + 1 %}
			{% endfor %}
		{% endif %}
	{% endif %}

	{% if imgtype_count == 0 and thumbnailUrl is empty %}
		{% set thumbnailUrl = defaultImage %}
		{% set thumbnailAlt = "no images available :(" %}
	{% endif %}

	{% include 'macros/card.html.twig' with {
		'url': path(path, {id:item.getId()}),
		'image': thumbnailUrl,
		'imageAlt': thumbnailAlt,
		'title': item.getFullName(),
		'date': item.getLastEdited()|date("Y-m-d\\TH:i:s\\Z", "GMT")
	} %}
{% endfor %}
</div>