{% set score = 0 %}
{% set score = entity.getManufacturer() ? score + 10 : score %}
{% set score = entity.getFormFactor() ? score + 10 : score %}
{% set score = entity.getDimensions() ? score + 1 : score %}
{% set score = entity.getManufacturer() ? score + 5 : score %}
{% set score = entity.getNote() ? score + 5 : score %}
{% set score = entity.getCpuSockets() is not empty ? score + 10 : score %}
{% set score = entity.getProcessorPlatformTypes() is not empty ? score + 10 : score %}
{% set score = entity.getCpuSpeed() is not empty ? score + 10 : score %}
{% set score = entity.getExpansionChips() is not empty ? score + 10 : score %}
{% set score = entity.getChipset() ? score + 10 : score %}
{% set score = entity.getDramType() is not empty ? score + 10 : score %}
{% set score = entity.getMotherboardMaxRams() is not empty ? score + 5 : score %}
{% set score = entity.getCacheSize() is not empty ? score + 5 : score %}
{% set score = entity.getMaxVideoRam() ? score + 1 : score %}
{% set score = entity.getMotherboardIoPorts() is not empty ? score + 10 : score %}
{% set score = entity.getMotherboardExpansionSlots() is not empty ? score + 10 : score %}
{% set score = entity.getPsuConnectors() is not empty ? score + 10 : score %}
{% set score = entity.getMotherboardBios() is not empty ? score + 15 : score %}
{% set score = entity.getManuals() is not empty ? score + 20 : score %}
{% set score = entity.getAllDrivers() is not empty ? score + 5 : score %}
{% set score = entity.getMiscFiles() is not empty ? score + 5 : score %}
{% set score = entity.getImages() is not empty ? score + 10 : score %}
<div class="score">Score is {{(score * 10 / 187 )|number_format(2) }}/10.</div>