{% extends 'base.html.twig' %}
{% block title %}Logs - TRW{% endblock %}
{% block metatags %}
	<meta name="description" content="The Retro Web motherboard database, here you can find board photos, BIOS images, manuals and more!">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('app_homepage')) }}"/>
{% endblock %}
{% block extra_stylesheets %}
        <link href="/build/css/logs.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="title">Logs</div>
    <header class="bg-white">
        <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
            {% block dh_auditor_header %}{% endblock %}
        </div>
    </header>
    <main>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            {% block dh_auditor_content %}{% endblock %}
        </div>
    </main>

{% block javascripts %}{% endblock %}
{% endblock %}