.index-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 10px;
	width: 60%;
	margin: 0 auto;

	.index-letter {
		background: $accent-bkg-light;
		color: $accent-frg-light;
		border: solid thin $border-light;
		border-radius: 5px;
		padding: 8px;
		width: 20px;
		display: flex;
		justify-content: center;
		margin: 3px;
		transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration color;

		&:hover {
			color: $active-link-light;
			box-shadow: 0px 0px 2px $shadow-light;
			transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration color;

			@media (prefers-color-scheme: dark) {
				color: $active-link-dark;
			}
		}

		@media (prefers-color-scheme: dark) {
			background: $accent-bkg-dark;
			color: $accent-frg-dark;
			border-color: $border-dark;
		}
	}
}

div.pagination {
	@include noselect();
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 10px;
	margin: 0 auto;

	a,
	span {
		background: $accent-bkg-light;
		color: $accent-frg-light;
		border: solid thin $border-light;
		border-radius: 5px;
		padding: 8px;
		display: flex;
		justify-content: center;
		margin: 3px;
		transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration color;

		&:hover {
			color: $active-link-light;
			box-shadow: 0px 0px 2px $shadow-light;
			transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration color;

			@media (prefers-color-scheme: dark) {
				color: $active-link-dark;
			}
		}

		&.current {
			background-color: $active-link-light;
			color: $body-frg-light;

			@media (prefers-color-scheme: dark) {
				background-color: $active-link-dark;
			}
		}

		&.first,
		&.previous,
		&.next,
		&.last {
			width: 5.3rem;
		}

		@media (prefers-color-scheme: dark) {
			background: $accent-bkg-dark;
			color: $accent-frg-dark;
			border-color: $border-dark;
		}
	}
}

div.toolbar {
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	input {
		display: none;
	}

	&.toolbar-thin {
		padding-bottom: 5px;

		button,
		a.button {
			padding: 3px;
			margin: 3px;
			width: auto;
		}
	}
}

// Motherboard index
div.index-title {
	text-align: center;
	padding-top: 20px;
}

// Motherboard search form
form fieldset {
	border: none;

	input.num {
		max-width: 30px;
	}
}

section.search-form-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax($form-breakpoint - 45px, 1fr));
	align-items: center;
	column-gap: 20px;
	row-gap: 10px;

	@media (max-width: $form-breakpoint) {
		display: block;
	}
}

.search-form-entry {
	display: flex;
	flex-wrap: wrap;

	label.search-form-label {
		width: 100%;
		justify-self: start;
		display: flex;
		align-items: center;
		padding-bottom: 5px;
		font-style: italic;

		img {
			padding-left: 3px;
		}

		&.file {
			padding-bottom: 2px;
		}
	}


	div.search-form-widget {
		flex-grow: 1;
		align-items: center;

		div {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			padding-bottom: 5px;

			&.ts-control {
				padding: 0;
			}

			&.ts-wrapper {
				padding-bottom: 0px;
			}

			* {
				width: 100%;
				flex-grow: 1;
			}
		}

		div.ts-control {
			input {
				width: auto;
			}
		}

		input,
		select {
			padding-left: 8px !important;
		}
	}

	label.search-form-widget {
		/* toggle switch */
		position: relative;
		display: inline-block;
		width: 60px;
		height: 30px;

		input {
			opacity: 0;
			width: 0;
			height: 0;
		}

		span.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $accent-bkg-light;

			@media (prefers-color-scheme: dark) {
				background-color: $accent-bkg-dark;
				border-color: $border-dark;
			}

			-webkit-transition: .4s;
			transition: .4s;
			border: solid thin $border-light;
			border-radius: 5px;

			&:before {
				position: absolute;
				content: "";
				height: 24px;
				width: 24px;
				left: 3px;
				bottom: 2px;
				background-color: white;

				@media (prefers-color-scheme: dark) {
					background-color: white;
				}

				-webkit-transition: .4s;
				transition: .4s;
				border-radius: 15%;
			}
		}

		input:checked+.slider {
			background-color: $active-link-light;
		}

		input:focus+.slider {
			box-shadow: 0 0 1px $active-link-light;
		}

		input:checked+.slider:before {
			-webkit-transform: translateX(28px);
			-ms-transform: translateX(28px);
			transform: translateX(28px);
		}
	}

}


#search-fieldset>div.search-form-entry {
	padding-top: 15px;
}

div.editor-row {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	padding: 5px;
	border: solid thin $border-dark;
	align-items: center;

	@media (prefers-color-scheme: dark) {
		border-color: $shadow-light;
	}

	&.bios-image-head {
		padding: 5px 0px !important;
	}

	&.addform {
		padding: 10px !important;
	}

	@media (max-width: 500px) {
		select {
			width: 100%;
		}
	}

	&.drv {
		display: grid;
		grid-template-columns: [first] 60% [second] 15% [third] 7% [end];
	}

	&.bios-main {
		display: grid;
		grid-template-columns: [first] 14% [second] 33% [third] 33% [fourth] 10% [fifth] 7% [end];

		>div:nth-child(n+2) {
			padding-right: 8px;
		}
	}

	&.bios-file {
		display: grid;
		grid-template-columns: [first] 14% [second] 33% [third] 33% [fourth] 10% [fifth] 7% [end];

		>div {
			padding-right: 8px;
		}
	}

	&.bios>div:nth-child(n+3),
	&.bios>a {
		margin-left: 10px;
	}

	&.manual {
		display: grid;
		grid-template-columns: [first] 25% [second] 15% [third] 21% [fourth] 25% [fifth] 7% [end];

		div:nth-child(2),
		div:nth-child(n+4),
		a {
			margin-left: 10px;
		}
	}

	&.miscfile {
		display: grid;
		grid-template-columns: [first] 25% [second] 30% [third] 25% [fourth] 7% [end];

		div:nth-child(2),
		div:nth-child(n+3),
		a {
			margin-left: 10px;
		}
	}

	>div {
		padding-left: 2px;
	}

	div.editor-form-widget {
		padding: 0 !important;

		div {
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			div.ts-wrapper {
				width: max(200px, 25vw);

				div.ts-control {
					width: 100%;
				}
			}

			* {
				width: 100%;
			}
		}

		&.chip div div.ts-wrapper {
			width: max(200px, 40vw);

			@media screen and (min-width: 2500px) {
				max-width: 700px;
			}

			div.ts-control {
				width: 100%;
			}
		}
	}

	.ts-wrapper {
		flex-grow: 1;
	}
}

div.bios-image-container {
	margin-bottom: 15px;
}

div.search-form-many {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	gap: 5px;

	div.search-many-item {
		display: flex;
		align-items: center;

		input {
			width: 20px;
			padding: 3px;
		}

		label {
			padding-left: 5px;
		}
	}

}

div.toolbar-title {
	height: 2em;
	text-align: center;
}

div.plain-list {
	padding: 15px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 5px;

	&.w300p {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}

	&.w400p {
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	}

	div.list-entry {
		display: flex;
		flex-wrap: wrap;
		align-items: start;
		align-content: start;
		border-bottom: solid thin $border-light;
		padding: 5px;
		gap: 5px;

		@media (prefers-color-scheme: dark) {
			border-color: $border-dark;
		}

		a {
			flex-grow: 1;
			width: 100%
		}

		div.results-alias {
			flex-grow: 1;
			padding-left: 5px;
		}

		div.cpu-aliases-box {
			display: none;

			&.visible {
				display: grid;
				//grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
			}
		}

		&.entry-centered {
			align-items: center;
		}
	}

	div div {
		width: 65%;
		padding: 3px 0;
	}

	.header-label {
		padding: 3px 0;
		font-weight: bold;
		width: 30%;
	}

	.toolbar-thin {
		width: auto;
	}

	.combo {
		display: flex;
		align-items: center;
		gap: 5px;
	}
}

button.alias-collapsible {
	background-color: $btn-darkbg-color-hover;
	color: white;
	cursor: pointer;
	line-height: 4px;
	padding: 18px;
	border: none;
	text-align: left;
	font-size: 15px;
}

button.alias-collapsible:hover {
	background-color: $link-hover-color;
	color: black;
}

button.alias-collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

button.alias-collapsible.active::after {
	content: " −";
}

#setmanuf,
#setchip1,
#setcpu1,
#setcpup1,
#setcpu3,
#setcpup3 {
	select {
		display: none;
	}
}

// table variant for admin manage lists, toggled via JS
@media screen and(min-width:651px) {

	div.plain-list.table {
		display: table; //mimics the old <table> structure

		div.list-entry.centered {
			display: table-row;

			&:nth-child(1) {
				display: table-row !important;
			}

			//show the table style headers (normally hidden for grid view)

			div {
				display: table-cell;
				width: auto; //width reset to default (set value in the grid view)
				padding: 0px 15px;
			}

			&.bios div {
				padding: 6px 15px;
			}

			&.alt {
				background: $accent-bkg-light;

				@media (prefers-color-scheme: dark) {
					background: $accent-bkg-dark;
				}
			}

			&.bios.nows {
				line-height: 30px
			}

			&.largefile div {
				padding: 0px 2px;
			}

			div.header-label {
				display: none;
			}

			// hide labels used in the grid view
			div.cpu-aliases-box {
				display: none;

				&.visible {
					display: grid;
					//grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
				}
			}
		}

	}
}

@media screen and(max-width:650px) {
	div.list-entry.centered.head {
		display: none;
	}
}

@media (hover: none) {
	span.help-t {
		img {
			display: none;
		}

		span.img {
			display: inline-block;
			width: 16px;
			height: 16px;
		}

		span.text {
			background: $body-bkg-light;
			border: 1px solid $border-light;
			color: $body-frg-light;
			display: inline;
			font-size: 12px;
			margin: -5px 0 0 15px;
			padding: 3px;
			position: absolute;
			visibility: hidden;
			z-index: 1;

			@media (prefers-color-scheme: dark) {
				background: $body-bkg-dark;
				border: 1px solid $border-dark;
				color: $body-frg-dark;
			}
		}
	}

	span.help-t:hover span.text {
		visibility: visible;
	}
}

@media (pointer: coarse) {
	div.sform2 input[type=checkbox] {
		width: 20px;
		height: 20px;
	}
}