.index-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 10px;
	width: 60%;
	margin: 0 auto;

	.index-letter {
		background: $accent-bkg-light;
		color: $accent-frg-light;
		border: solid thin $border-light;
		border-radius: 5px;
		padding: 8px;
		width: 20px;
		display: flex;
		justify-content: center;
		margin: 3px;
		transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration color;

		&:hover {
			color: $active-link-light;
			box-shadow: 0px 0px 2px $shadow-light;
			transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration color;

			@media (prefers-color-scheme: dark) {
				color: $active-link-dark;
			}
		}

		@media (prefers-color-scheme: dark) {
			background: $accent-bkg-dark;
			color: $accent-frg-dark;
			border-color: $border-dark;
		}
	}
}

div.pagination {
	@include noselect();
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 10px;
	margin: 0 auto;

	a,
	span {
		background: $accent-bkg-light;
		color: $accent-frg-light;
		border: solid thin $border-light;
		border-radius: 5px;
		padding: 8px;
		display: flex;
		justify-content: center;
		margin: 3px;
		transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration color;

		&:hover {
			color: $active-link-light;
			box-shadow: 0px 0px 2px $shadow-light;
			transition: ease-in-out $anim-duration box-shadow, ease-in-out $anim-duration color;

			@media (prefers-color-scheme: dark) {
				color: $active-link-dark;
			}
		}

		&.current {
			background-color: $active-link-light;
			color: $body-frg-light;

			@media (prefers-color-scheme: dark) {
				background-color: $active-link-dark;
			}
		}

		&.first,
		&.previous,
		&.next,
		&.last {
			width: 5.3rem;
		}

		@media (prefers-color-scheme: dark) {
			background: $accent-bkg-dark;
			color: $accent-frg-dark;
			border-color: $border-dark;
		}
	}
}

div.toolbar {
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&.toolbar-thin {
		padding-bottom: 5px;

		button,
		a.button {
			padding: 3px;
			margin: 3px;
		}
	}
}

// Motherboard index
div.index-title {
	text-align: center;
	padding-top: 20px;
}

// Motherboard search form
form fieldset {
	border: none;
}

section.search-form-grid {
	padding-bottom: 10px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax($form-breakpoint - 45px, 1fr));
	align-items: center;
	column-gap: 20px;
	row-gap: 10px;

	@media (max-width: $form-breakpoint) {
		display: block;
	}
}

.search-form-entry {
	display: flex;
	flex-wrap: wrap;

	label.search-form-label {
		width: 100%;
		justify-self: start;
		display: flex;
		align-items: center;
		padding-bottom: 5px;

		img {
			padding-left: 3px;
		}
	}

	div.search-form-widget {
		flex-grow: 1;
		align-items: center;

		div {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			padding-bottom: 5px;

			* {
				width: 100%;
				flex-grow: 1;
			}
		}
	}
}

div.search-form-many {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	gap: 5px;

	div.search-many-item {
		display: flex;
		align-items: center;

		input {
			width: 20px;
			padding: 3px;
		}

		span {
			padding-left: 5px;
		}
	}

}

div.toolbar-title {
	height: 2em;
	text-align: center;
}

div.plain-list {
	padding: 15px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 5px;

	&.list-bios {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}

	&.editor-view {
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	}

	div.list-entry {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		align-self: end;
		border-bottom: solid thin $border-light;
		padding: 5px;
		gap: 5px;

		@media (prefers-color-scheme: dark) {
			border-color: $border-dark;
		}

		a {
			flex-grow: 1;
		}

		div.results-alias {
			flex-grow: 1;
			padding-left: 5px;
		}
	}

	.header-label {
		padding: 3px 0;
		font-weight: bold;
		width: 50%;
	}

	.combo {
		display: flex;
		align-items: center;
		gap: 5px;
	}
}

@media (hover: none) {
	span.help-t {
		img {
			display: none;
		}

		span.img {
			display: inline-block;
			width: 16px;
			height: 16px;
		}

		span.text {
			background: $body-bkg-light;
			border: 1px solid $border-light;
			color: $body-frg-light;
			display: inline;
			font-size: 12px;
			margin: -5px 0 0 15px;
			padding: 3px;
			position: absolute;
			visibility: hidden;
			z-index: 1;

			@media (prefers-color-scheme: dark) {
				background: $body-bkg-dark;
				border: 1px solid $border-dark;
				color: $body-frg-dark;
			}
		}
	}

	span.help-t:hover span.text {
		visibility: visible;
	}
}

@media (pointer: coarse) {
	div.sform2 input[type=checkbox] {
		width: 20px;
		height: 20px;
	}
}