#search-table{ font-size: 1em; width:100%; }
#search-table tr { height: 2em; }
#search-table tr.sep { height: 10px; }
#search-table select{ height:2.2em; }
select.sform { width: 90%; vertical-align:middle; }
input.sform { width: 89.5%; vertical-align:middle; }

td.table-width {width: 130px;text-align:center;}
span.field1 { height: 1.75em; width: 15em; font-size:12px; margin-bottom:4px;float:left; }
span.field1 span {float:left; margin-left:0.4em;}
span.field1 input { height: 21px; width: 21px; float:left;font-size:12px;height: 1.25em; width: 1.25em; }
span.field2 { width: 12em;font-size:16px; margin-bottom:4px;float:left; }
div.sadv div { padding: 8px 0 4px; }
div.sadv div.sform1 { padding: 0; }
div.search-nav { margin:auto;text-align: center; }
div.sadv { width: 90%; }
div.sadv div select { width: 100%; }
div.butn { text-align: center; }
div.butn input {color: $dark-color; height:2.7em; font-size:14px;}
span.help-t span { display:none; }

p.index-list {
	text-align:center;
	overflow: hidden;
	margin: 1em;
}
p.index-list > ul {
	list-style: none;
	padding: 0;
	margin-left: -4px;
}
p.index-list > ul > li {
	display: inline;
	white-space: nowrap;
}
p.index-list > ul > li:before {
	content: "\200B";
}

@media (max-width: 600px) {
	#search-table tr.sep { display: none; }
	#search-table td { display:block;text-align:left;padding:0 0 4px 4%; }	
	div.sadv div { padding:0 0 4px; }
	div.butn input { font-size:18px;height:2.2em; }
	span.field1 { width: 15em; }
	span.field2 { width: 10em; }
}
@media (min-width: 1200px) {
	td.table-width { width:210px; }
	div.butn input { font-size:18px;height:2.2em; }
	#search-table tr { height:1.5em; }
}
@media (min-width: 1400px) {
	span.field1 { font-size:14px; }
	td.table-width { width:220px; }
	div.sadv div { padding:0; width:29%;display:inline-block; }
	div.sadv div.sform1 { padding: 0; width:70%; }
}
@media (hover: none) {
	span.help-t img {display:none;}
	span.help-t span.img {
		display: inline-block;
		width: 16px;
		height: 16px;
	}
	span.help-t span.text {
		background: $lightbg-color;
		border:1px solid $dark-color;
		color: $dark-color;
		display: inline;
		font-size:12px;
		margin: -5px 0 0 15px;
		padding: 3px;
		position:absolute;
		visibility: hidden;
		z-index: 1;
	}
	span.help-t:hover span.text { visibility:visible; }
}
@media (pointer: coarse) { div.sform2 input[type=checkbox] {width:20px;height:20px;} }
@media (prefers-color-scheme: dark) {
    #search-table select, input.sform, span.field1 input {background-color:#424242;color:#ececec;}
	div.butn input, span.butn-noajax input {background-color:$btn-darkbg-color;color:$light-color;}
	span.help-t span.text{background-color: $dark-color;color:$light-color;border-color:$light-color;}
}