span.text-block {
    border: 1px solid $medium-color; 
    display: -moz-inline-box; 
    display: inline-block; 
    margin-right: 5px; 
    padding: 3px 5px 3px;
}
table.stbl {
  border: 1px solid $footer-link-color;
  border-collapse: collapse;
  background-color: $lightbg-color;
  margin-bottom:10px;
  color: $dark-color;
  width:100%;
}
tr.stbl-head, tr.stbl-head2{ background-color:$footer-link-color;color:$dark-color;text-align:center; }
tr.stbl-head2{ text-align:left; }
table.stbl td, table.stbl th{ padding: 5px 5px 5px; }
tr.stbl-head2 td{ padding-left:45px; }
div.show-images { width:25%;overflow: auto;float:left;min-height:150px;height:auto; max-height:500px; }
div.show-image { width:100%;font-size:14px;display:block;text-align:center;color:$dark-color; }
div.show-image a img { width: 100%;height:auto; }
a.creditor-href, a.license-href { color:$dark-color; img{vertical-align:top;} }
a.license-href:hover, a.creditor-href:hover { color:$link-hover-color1; }
div.show-nav { 
    padding:5px 0px 10px; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    //div { font-size:20px; }
}
div.snav, a.snav {
    font-size:20px;
    border: 1px solid $medium-color;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
    display: -moz-inline-box; 
    display: inline-block; 
    padding: 5px;
    margin-top:2px;
    color:$dark-color;
    text-decoration:none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    img { padding-right:5px;vertical-align: middle;height:auto; }
}
div.snav:hover, a.snav:hover { color: $link-hover-color;background-color:$navbar-color;cursor:pointer; }
div.show-nav, div.show-general, div.show-downloads, div.show-cpus {
    width:74%;
    float:left;
    padding-left:3px;
    font-size: 14px;
    overflow-x:auto;
}
div.show-downloads, div.show-cpus { display:none; }
div.scroll-div { overflow:auto;width:100%; }
img.lang-flag {height:25px; width:46px;}
img.lang-flag-lrg {height:16px; width:32px;}
ul.docs-list{list-style-type:none;}
div.notes { 
    word-wrap: break-word;
    overflow: auto; 
    overflow-y: hidden; 
    width:96%;
    padding-top:6px;
    padding-bottom:20px;
    margin:auto;
}
div.chipset-textarea { 
    word-wrap: break-word;
    overflow: auto; 
    overflow-y: hidden; 
}
div.chipset-textarea p { font-family: monospace;font-weight: 100;font-size:16px; }
p.string-alias{ text-align:center;font-size: 14px;margin-top: -15px; }
p.string-alias span.separator { display: none; }
span.string-bios { font-size:12px; }
td.exp-table { vertical-align: top;width:210px; }
td.io-table { vertical-align: top;width:175px; }
.glightbox-clean .gdesc-inner {padding: 5px 20px;}

@media (max-width: 600px) {
	div.show-images { width:100%; max-height:400px;padding-top:5px; }
	div.show-image, span.string-bios { font-size:8px; }
	div.show-nav, div.show-general, div.show-downloads, div.show-cpus { width:100%;padding-left:0;font-size:16px; }
    div.show-nav div { font-size:16px; }
    img.lang-flag {height:16px; width:32px;}
	td.io-table ul,td.exp-table ul { padding:0; }
    ul.docs-list{padding:0;}
}
@media (min-width: 770px){.gslide-image img {min-height:66vh;max-height:67vh;}}
@media (min-width: 1200px){.gslide-image img {min-height:90vh;max-height:91vh;}}
@media (min-width: 1400px) {

	div.show-images { width:30%; max-height:600px; }
	div.show-nav, div.show-general, div.show-downloads, div.show-cpus { width:67%;padding-left:20px; }
	div.grid-list ul{ display: grid;grid-template-columns: repeat(4, 1fr);font-size:16px; }
	div.grid-list2 ul{ font-size:16px; }
    .gslide-image img {min-height:88vh;max-height:90vh;}
}
@media (min-width: 1620px) {
	div.show-images { max-height:745px; }
	div.show-nav, div.show-general, div.show-downloads, div.show-cpus { width:68%; font-size: 18px; }
	div.show-general table, div.show-downloads table, div.notes, div.show-cpus { font-size:16px; }
	p.string-alias { margin-top:-10px; }
	td.exp-table { width:220px; }
	td.io-table { width:210px; }
}


@media (prefers-color-scheme: dark) {
	div.snav, a.snav { color:$lightbg-color; }
	div.snav:hover, a.snav:hover { color: #0099ff;background-color:$btn-lightbg-color; }
	table.stbl, table.stbl-adv{ background-color:$btn-darkbg-color;color:$light-color; }
	tr.stbl-head, tr.stbl-head2{ background-color:#606060;color:$light-color; }
    a.glightbox { color:$light-color; }
}

