{% extends 'base.html.twig' %}

{% block title %}Manage media type flags{% endblock %}

{% block body %}
<div style="height:6em;"></div>
<div class="editasset">
	<h2><b>Edit: Media type flag</b></h2>
    {{ form(form) }}
</div>

{% endblock %}