{% extends 'base.html.twig' %}

{% block title %}Manage PSU Connector
{% endblock %}

{% block body %}
	<div style="height:6em;"></div>
	<div class="editasset">
		<h2>
			<b>Edit: PSU Connector</b>
		</h2>
		{{ form(form) }}
		</div>

	{% endblock %}
