{% extends 'base.html.twig' %}

{% block title %}Add a motherboard{% endblock %}

{% block body %}
    {% if motherboard is defined %}
		<div class="title">
			<b>Update an existing motherboard</b>
		</div>

		<p>To improve the content, create a thread by clicking <b><a href="/win3board/posting.php?mode=post&amp;f=16">here</a></b> and use this template:<br><br>
		<b>Thread title: [UPD] {{ motherboard.manufacturer.shortNameIfExist() }} {{ motherboard.name }} ({{ motherboard.id }})</b><br><br>
		The thread should contain at least one of the following:</p>
		<ul>
			<li>Motherboard schema:</li>
			<li>Supported memory:</li>
			<li>Supported CPUs:</li>
			<li>Photo(s) of the motherboard: (must be over 800x600 res and not blurry).
				<br>Either you must be the owner of the photos or these ones have to be free</li>
			<li>Manual(s): (not mandatory but it helps documenting the motherboard a lot)</li>
			<li>Motherboard BIOS(es): (manufacturer name, POST string and version)</li>
			<li>Notes: (if you have any useful piece of trivia about the motherboard like fake cache, bad caps, etc)</li>
		</ul>
    {% else %}
		<div class="title">
			<b>Add a motherboard</b>
		</div>

		<p>To add a motherboard, create a thread by clicking <b><a href="/win3board/posting.php?mode=post&amp;f=16">here</a></b> and use this template:<br><br>
		<b>Thread title: [ADD] Motherboard name</b></p>
		<ul>
			<li>Manufacturer name:</li>
			<li>[*]Motherboard name:</li>
			<li>Motherboard schema:</li>
			<li>Supported memory:</li>
			<li>Supported CPUs:</li>
			<li>[*]Photo(s) of the motherboard: (must be over 800x600 res and not blurry).
				<br>Either you must be the owner of the photos or these ones have to be free</li>
			<li>Manual(s): (not mandatory but it helps documenting the motherboard a lot)</li>
			<li>Motherboard BIOS(es): (manufacturer name, POST string and version)</li>
			<li>Notes: (if you have any useful piece of trivia about the motherboard like fake cache, bad caps, etc)</li>
		</ul>
		<br>[*] = required<br>
    {% endif %}

	<br>Try to fill in as many fields as you can.<br><br>
	Account registration is not required.
{% endblock %}