{% extends '@EasyAdmin/crud/new.html.twig' %}
{% block page_actions %}
    {% set data_entity = entity.fqcn|split("\\")|last %}
    <div class="hide-actions">
        {% for action in entity.actions %}
            {{ include(action.templatePath, { action: action }, with_context = false) }}
        {% endfor %}
        <button id="js-save-continue" data-entity="{{ data_entity }}" class="btn btn-secondary action-save" type="button">
            <span class="btn-label"><i class="action-icon far fa-edit"></i> <span class="action-label">Create and continue editing</span></span>
        </button>
        <button id="js-save" data-entity="{{ data_entity }}" class="btn btn-primary action-save" type="button">
            <span class="btn-label"><span class="action-label">Create</span></span>
        </button>
    </div>
{% endblock %}
