{% if route is defined and route == true %}{% set typeid = 'route-results' %}{% else %}{% set typeid = domTarget %}{% endif %}
<div id="{{ typeid }}">
{% if drivers is defined and drivers is not empty %}
	<div class="results lst">
		{{ knp_pagination_render(drivers, 'macros/pagination_async.html.twig') }}
			<div class="plain-list w300p table">
				{% include 'macros/widget.html.twig' with {'type':'driver-results', 'entity': drivers} %}
			</div>
		{{ knp_pagination_render(drivers, 'macros/pagination_async.html.twig') }}
	</div>
{% else %}
	No results
{% endif %}
{% if params is defined %}
<div id="search-params-id" style="display:none;">{{params}}</div>
{% endif %}
</div>
