/* iexplore.css - extra stylesheet for Internet Explorer only */

/*	set cursor at the index page, IE7 and inferior	*/

a.index-button0 span, a.index-button2 span { *cursor: hand; }

/*	set height at auto for IE8 and below, to prevent too big input. IE5.5 and lower use a different box-model, thus width is also adjusted	*/

div.sform input { height: auto; width: 100%; width: 99%\9; }
span.field1 input { height: 21px; width: 21px; height: 15px\9; width: 15px\9; }

/*	width for image-block needs to be set in IE5.0, to simulate the inline-block property */

div.index-buttons span.image-block { width: 204px; width/**/: auto; }
div.results span.image-block { width: 350px; width/**/: auto; }

/*	max-height is not supported by IE6 and older. Please note height isn't interpreted as min-height due to the overflow:auto in main.css	*/
/*	IE6 and IE7 add a horizontal scrollbar if there is a vertical one. A hidden padding-right is used to fix it */

div.show-images { _height:500px; *overfl\ow-x: hidden; }
div.ie-fix { *padding-rig\ht: 17px; _padding-rig\ht: 16px; }

/*	the hover box is moved down for IE, because the select element will display on top of it */
a.help-t span{margin:55px 0 0 -65px;}