/* main.css - loaded by all browsers */

/* base.html.twig */
body, form {margin:0; padding:0;background-color:#F9F9F9;}
body, button, div.main input, select {font-family: Arial, sans-serif;}
p, ul {margin-top: 14px; margin-bottom: 14px;}
img {border:0;}

a:link, a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}

div.top-bar {background:#343943;font-size:16px;padding:5px 18px;}
div.top-bar a:link, div.top-bar a:visited {color: #FFFFFF;}
div.top-bar a:hover {text-decoration: none;}
div.top-bar small {color: #FF0000; font-size: 12px;}
div.top-bar select, div.top-bar input { font-size: 12px;}
div.top-bar select.lang {width: 8.33em;}
div.top-bar img {vertical-align: top;}

div.main, th {text-align: center;}
div.main select, div.main input {font-size: 13px;}
div.page {text-align: left; font-size: 16px; margin: auto; width:98%;}
h2.title {text-align: center; font-size:24px; margin: 15px 0;}
b.contrib {background: #FFFF00; color: #000000;}
b.contrib a:link, b.contrib a:visited { color: #0000FF;}

span.image-block {text-align: center; display: -moz-inline-stack; display: inline-block; vertical-align: bottom;}
span.image-block span {display:table;}
span.image-block span span {display:block;}

/* index.html.twig */
div.index-buttons span.image-block {background-color: #ebebeb; color:#000000;
border: 1px solid gray; margin-bottom: 4px; padding: 15px 5px 5px;
vertical-align: top; width: 204px; /* **/ width: auto; /** */}

div.index-buttons span.image-block span span {font-size: 12px; min-width: 192px; width:16em;}
div.index-buttons span.image-block span span.img {height: 126px; margin-bottom:3px;
background-position: center; background-repeat: no-repeat;}

div.index-buttons a:hover{text-decoration: none;}

a.index-button0 span, a.index-button2 span {cursor: hand; /* **/ cursor: pointer; /** */}
a.index-button0 span.img {background-image: url(./images/index/motherboard_low.gif);}
a.index-button1 span.img {background-image: url(./images/index/card_wip.gif);}
a.index-button2 span.img {background-image: url(./images/index/awchip_low.gif);}

div.perks, div.perks div.results ul li {font-size:14px;}

/* search.html.twig */
#search-table{font-size: 1em; width:100%;}
#search-table tr {height: 2em;}
#search-table tr.sep {height: 10px;}
select.sform { width: 90%; vertical-align:middle;}
input.sform { width: 90%; vertical-align:middle;}

td.table-width {width: 130px;text-align:center;}
span.field1 {height: 1.75em; width: 15em; font-size:14px; margin-bottom:4px; /* **/ float:left; /** */}
span.field1 span {float:left; margin-left:0.4em;}
span.field1 input {height: 21px; width: 21px; float:left;  font-size:12px; /* **/ height: 1.25em; width: 1.25em; /** */}
span.field2 {width: 12em;font-size:16px; margin-bottom:4px; /* **/ float:left; /** */}
div.sadv div {padding: 8px 0 4px;}
div.sadv div.sform1 {padding: 0;}
div.sform1 select {position:absolute;}
span.butn-noajax input {background: #ebebeb; color: #000000; margin-right: 5px;}
div.sform1 span {/* **/ float:left; /** */}
table.ajax div.sform1 span.butn-noajax{float:right;}
table.ajax span.butn-noajax input {visibility:hidden;}
div.butn {text-align: center;}
div.butn input {height:2.7em; font-size:14px;}
input.butn-0{background: #ebebeb url(./images/search/reset.gif) no-repeat 0px 1px;padding-left:15px; /* **/ padding-left:35px; /** */}
input.butn-1{background: #ebebeb url(./images/search/search.gif) no-repeat 4px 1px;padding-left:30px; /* **/ padding-left:42px; /** */}
input.butn-2{background: #ebebeb url(./images/search/search_photo.gif) no-repeat 5px 1px;padding-left:15px; /* **/ padding-left:42px; /** */}
span.help-t span {display:none;}

/* result.html.twig */
div.results ul {margin: 0;padding-left: 40px;}
div.results ul li{line-height:140%;font-size: 16px;}
ul.results-alias {list-style-type: none;}
ul.results-alias li {line-height:120%;}
ul.results-alias li small{font-size:0.8em;}

div.results span.image-block {padding: 15px; width: 350px; /* **/ width: auto; /** */}
div.results span.image-block span img {vertical-align:bottom; width:320px; margin-bottom:5px;}
div.results span.image-block span span {font-size:16px; min-width:320px; width:20em;}
div.results span.image-block span span.results-alias small {font-size:0.8em;}

div.pagination span.current {font-weight:bold;}

/* show.html.twig */
span.alias-div {padding:5px;margin-top: 1px;display: inline-block;
	border-style: solid;border-width: 1px;border-color: #ababab;}
table.stbl {
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  background-color:#FFFFFF;
  margin-bottom:10px;
  width:100%;
}
tr.stbl-head{background-color:#e0e0e0;text-align:center;}
table.stbl td, table.stbl th{padding: 5px 5px 5px;}
div.show-images {width:25%;overflow: auto;float:left;height:500px; /* **/ height:auto; max-height:500px; /** */}
span.show-image {width:100%;font-size:12px;display:block;}
span.creditor {width:auto;display:block; text-align: center; word-wrap: break-word;}
span.show-image a img {width: 100%;}
div.show-data {width:74%;float:left;padding-left:3px;font-size: 14px;overflow-x:auto;}
div.show-data table, div.notes {font-size: 14px;}
div.show-cpus {font-size: 14px;width:100%;clear:left;}
div.show-cpus table{font-size: 14px;}
div.scroll-div {overflow:auto;width:100%;}
p.string-alias{text-align:center;font-size: 14px;}
span.string-bios {font-size:12px;}

span.newdiv {padding:5px;margin-top: 1px;display: inline-block;color:#000000;
border-style: solid;border-width: 1px;border-color: #ababab;}

td.exp-table {vertical-align: top;width:140px;}
td.io-table {vertical-align: top;width:175px;}

/* info/infoadv.html.twig */
div.biosinfo span.image-block {margin: 0 0 0 10%;}
div.biosinfo span.image-block, div.biosinfo img {width:400px;}
table.stbl-adv {
	font-size:14px;
	border: 1px solid #e0e0e0;
	border-collapse: collapse;
	background-color:#FFFFFF;
	margin-bottom:10px;
	width:100%;
}
table.stbl-adv td {vertical-align: top;}