/* main.css - loaded by all browsers */

/* base.html.twig */

body, form {margin:0; padding:0;background-color:#F9F9F9;}
body, button, div.main input, select {font-family: Arial, sans-serif;}
p, ul {margin-top: 14px; margin-bottom: 14px;}
img {border:0;}

a:link, a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}

div.top-bar {background:#343943;font-size:16px;padding:7px 18px;}
div.top-bar a:link, div.top-bar a:visited {color: #FFFFFF;}
div.top-bar small {color: #FF0000; font-size: 12px;}
div.top-bar select, div.top-bar input { font-size: 12px;}
div.top-bar select.goto {width: 9em;}
div.top-bar select.lang {width: 8.33em;}

div.main, th {text-align: center;}
div.page {text-align: left; margin: auto; width:98%;}
h2.title {text-align: center; font-size:24px; margin: 15px 0;}
b.contrib {background: #FFFF00; color: #000000;}
b.contrib a:link, b.contrib a:visited { color: #0000FF;}

/* index.html.twig */

form.index-buttons {padding-top: 18px;}
form.index-buttons input {padding-top:145px;width:15em;font-size:12px;font-weight:bold;}
form.index-buttons input.button1 {background: #ebebeb url(./images/motherboard_low.jpg) center no-repeat;}
form.index-buttons input.button2 {background: #ebebeb url(./images/card_low.jpg) center no-repeat;}
form.index-buttons input.button3 {background: #ebebeb url(./images/awchip_low.jpg) center no-repeat;}

/* search.html.twig */

select.sform { width: 90%; vertical-align:middle;}
input.sform { width: 90%; vertical-align:middle;}
table.sform1 {width: 91%; margin-left:-3px;}
div.sform select {height: 100%; width: 100%; }
div.sform input {height: auto; width: 90%; /* **/ height: 90%; width: 99%; /** */}

td.table-width, td.bios-width {width: 120px;text-align:center;}
tr.title-width {display:none;}
span.field1 {height: 1.75em; width: 15em; font-size:14px; margin-bottom:4px; /* **/ float:left; /** */}
span.field1 span {float:left; margin-left:0.4em;}
span.field1 input {height: 21px; width: 21px; float:left;  font-size:12px; /* **/ height: 1.25em; width: 1.25em; /** */}
span.field2 {width: 12em;font-size:16px; margin-bottom:4px; /* **/ float:left; /** */}

div.butn {text-align: center;}
div.butn input {width:7.5em; height:2em; font-size:14px;}

/* result.html.twig */

div.results ul {margin: 0;padding-left: 40px;}
div.results ul li{line-height:140%;font-size: 16px;}
ul.results-alias {list-style-type: none;}
div.results ul.results-alias li {line-height:120%;}
div.results ul li ul.results-alias li span{font-size:0.8em;}

div.pagination span.current {font-weight:bold;}

/* show.html.twig */
a.highslide-full-expand {
   background: url(highslide/fullexpand.gif) no-repeat;
   display: block;
   margin: 0 10px 10px 0;
   width: 34px;
   height: 34px;
}
.highslide-loading {
	display: block;
	color: black;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding: 3px;
	border: 1px solid white;
	background-color: white;
	padding-left: 22px;
	background-image: url(highslide/loader.white.gif);
	background-repeat: no-repeat;
	background-position: 3px 1px;
}
table.stbl {
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  background-color:#FFFFFF;
  margin-bottom:10px;
  width:100%;
}
table.stbl td, table.stbl th{padding: 5px 5px 5px;}
div.show-images {width:25%;overflow: auto;float:left;height:500px; /* **/ height:auto; max-height:500px; /** */}
span.show-image {width:100%;font-size:12px;display:block;}
span.creditor {width:auto;display:block; text-align: center; word-wrap: break-word;}
span.show-image a img {width: 100%;}
div.show-data {width:74%;float:left;padding-left:3px;font-size: 14px;overflow-x:auto;}
div.show-data table, div.notes {font-size: 14px;}
div.show-cpus {font-size: 14px;}
p.string-alias{text-align:center;font-size: 14px;}
span.string-bios {font-size:12px;}

span.newdiv {padding:5px;margin-top: 1px;display: inline-block;color:#000000;
border-style: solid;border-width: 1px;border-color: #ababab;}

td.main-table {width:170px;}
td.exp-table {vertical-align: top;width:140px;}
td.io-table {vertical-align: top;width:175px;}
td.cpu-table {width:160px;}

/* infoadv.html.twig */

table.stbl-adv {
	font-size:14px;
	font-weight: normal;
	border: 1px solid #e0e0e0;
	border-collapse: collapse;
	background-color:#FFFFFF;
	margin-bottom:10px;
	width:100%;
}