/* 
	main.css - loaded by all browsers
*/

/* base.html.twig */

body {margin:0; padding:0; font-family: "Trebuchet MS", Arial, sans-serif;}
div.top-bar {background:#343943;}
div.top-bar span {color: #FFFFFF;}
div.top-bar span.number {color: #FF0000;}
td.sitename { width:18em;font-size:20px;}
div.top-height{ padding: 5px 0;}
p, ul {margin-top: 14px; margin-bottom: 14px;}
form {margin:0; padding:0;}

a:link, a:visited { text-decoration: none;}
a:hover { text-decoration: underline;}

a.fakebutton { padding: 7px 10px 8px; outline: none; font-size: 18px; text-align: center;
border-width: 2px; border-style: solid; border-color: #E3E3E3 #979797 #979797 #E3E3E3; font-family: Arial, sans-serif; /* **/ padding: 0 6px 2px; /** */}
a.fakebutton:hover { border-color: #979797 #E3E3E3 #E3E3E3 #979797; text-decoration: none;}

div.main, th { text-align: center;}
div.page { text-align: left; margin: auto; width:98%;}
div.title { text-align: center; font-size:24px; padding: 15px 0;}

/* index.html.twig */

form.index-buttons input { font-family: Arial, sans-serif;padding-top:145px;width:16em;min-width:240px;font-size:15px;font-weight:bold;}
form.index-buttons input.button1 { background: #ebebeb url(./images/motherboard_low.jpg) center no-repeat;}
form.index-buttons input.button2 { background: #ebebeb url(./images/card_disabled_low.jpg) center no-repeat;}

/* search.html.twig */

div.sform { height: 1.6em; width: 90%; padding-bottom: 6px;}
div.sform select { height: 100%; width: 100%; }
div.sform input { height: 20px; width: 100%; /* **/ height: 90%; width: 99%; /** */}

td.table-width { width: 0; }
span.field1 { height: 1.75em; width: 15em; font-size:14px; margin-bottom:4px; /* **/ float:left; /** */}
span.field1 span {float:left; margin-left:0.4em;}
span.field1 input {height: 20px; width: 20px; float:left;  font-size:12px; /* **/ height: 1.25em; width: 1.25em; /** */}
span.field2 {width: 12em;font-size:16px; margin-bottom:4px; /* **/ float:left; /** */}

div.butn { text-align: center; margin-top:20px;}
div.butn input { width:6em; height:2em; font-size:20px;}

/* result.html.twig */

div.results ul li{ line-height:140%;}

/* show.html.twig */

div.show-images { width:25%;overflow: auto;float:left;height:500px; /* **/ height:auto; max-height:500px; /** */}
span.show-image { width:100%;font-size:12px;display:block;}
span.creditor { width:auto;display:block; text-align: center; word-wrap: break-word;}
span.show-image a img { width: 100%; border:0;}
div.show-data { width:74%;float:left;padding-left:3px;font-size: 14px;}
div.show-data table, div.notes {font-size: 14px;}
span.string-bios {font-size:12px;}

td.main-table { width:170px;}
td.exp-table {vertical-align: top;width:140px;}
td.io-table {vertical-align: top;width:175px;}
td.cpu-table { width:160px;}
