/* modern.css - extra stylesheet for browsers supporting media queries */

/* == cross compatibility between linux and windows == */
/* global tags */
input[type=text], input[type=submit], input[type=reset], input[type=password], button, select {
  height: 22px;
  border-color:#d9d9d9;
  border-width: thin;
  border-radius: 0;
}

/* specific tags */
input.button1, input.button2, input.admin-button {height:auto;border-width:2px;}
input.num {width:20px;}
span.field1 {font-size: 12px;}
select.sform{height:2.2em;}

@media (max-device-width: 600px) {
	div.top-bar {font-size:12px; padding:0 0 0 5px;}
	div.top-bar div.table-mobile {display: table; border-spacing: 2px;}
	div.top-bar a, div.top-bar span.form {display: table-cell; vertical-align: middle; padding: 1px;}
	div.top-bar span.form { width: 220px;}
	div.top-bar select.goto {width: 38%;}
	div.top-bar select.lang {width: 40%;}
	
	/* search.html.twig */
	h2.title {font-size: 16px; margin: 10px 0;}
	div.butn input {font-size:18px;}
	div.page {font-size:14px;}
	td.table-width {display:none;}
	tr.title-width {display:table;margin-left: 2%;}
	.sform, div.sform2{margin-left:5%;}
	div.sform2 input[type=checkbox] {width:20px;height:20px;}
	span.field1 {width: 13em;}
	span.field2 {width: 10em;}
	table.sform1{margin-left:3%;}
	
	/* show.html.twig */
	div.show-images {width:100%; max-height:400px;}
	span.show-image, span.string-bios {font-size:8px;}
	div.show-data {width:100%;padding:0;font-size:13px;}
	div.show-data table, div.notes {font-size:13px;}
	p.string-alias {margin:10px 0;}
	td.cpu-table {width:85px;}

	/* add.html.twig */
	div.show-images{padding-top:5px;}
	.ba0 {width:16%;margin:0;}
	.ba1 {width:24%;margin:0;}
	.ba2 {width:16%;margin:0;}
	.ba3 {width:7%;margin:0;}
	.ba4 {width:16%;margin:0;}
	.ba5 {display:none;}
}

@media (min-width: 1200px) {
	div.page {width:90%;font-size:22px;}

	/* index.html.twig */
	form.index-buttons input {padding-top:300px;min-width:360px;font-size:18px;}
	form.index-buttons input.button1 {background-image: url(./images/motherboard_med.png);}
	form.index-buttons input.button2 {background-image: url(./images/card_disabled_med.png);}

	/* search.html.twig */
	td.table-width {width:210px;}
	div.butn input {font-size:18px;}

	/* result.html.twig */
	div.results ul li{font-size:20px;}
	td.io-table {width:240px;}
}

@media (min-width: 1400px) {
	div.top-bar {font-size:20px;padding:10px 18px;}
	h2.title {margin: 20px 0;}

	/* search.html.twig */
	span.field1 {font-size:14px;}
	td.table-width {width:220px;}

	/* show.html.twig */
	div.show-images {width:30%; max-height:600px;}
	div.show-data {width:67%;padding-left:20px;}
	p.string-alias {margin-top: -5px;}
	td.main-table {width:200px;}
	td.cpu-table {width:160px;}
}

@media (min-width: 1620px) {
	div.page {width:80%;}
	h2.title {margin: 40px 0;}

	/* show.html.twig */
	div.show-images {max-height:750px;}
	div.show-data {width:68%; font-size: 18px;}
	div.show-data table, div.notes { font-size:16px;}
	p.string-alias {margin-top:-25px;}
	td.exp-table {width:250px;}
	td.cpu-table {width:180px;}
}