$light-color: #EEEEEE;
$medium-color: #ABABAB;
$lightbg-color: #F9F9F9;
$darkbg-color: #191919;
$navbar-color: #343943;
$link-hover-color: #7ce5ff;
$footer-link-color: #e0e0e0;
$btn-lightbg-color:#ebebeb;
$dark-color: #000000;
$btn-darkbg-color:#303030;
$btn-darkbg-color-hover:#5f5f5f;
$dark-link: orange;
$dark-link-visited:#00e874;

@import 'admin/index';
@import 'admin/add';