$font-family: Inter, sans-serif;
$light-color: #EEEEEE;
$medium-color: #ABABAB;
$dark-color: #000000;
$lightbg-color: #F9F9F9;
$darkbg-color: #191919;
$navbar-color: #303030;
$link-hover-color: #7ce5ff;
$link-hover-color1: #0099ff;
$footer-link-color: #d9d9d9;
$btn-lightbg-color:#ebebeb;
$btn-darkbg-color:#303030;
$dark-gray-color: #424242;
$dark-link: orange;
$dark-link-visited:#00e874;

body{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    color: $dark-color;
    background: $navbar-color;
    margin:0; 
    padding:0;
}
@mixin border($color){
    border-width: 0;
    border-bottom-width: 3px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,$color,transparent);
}
@import 'main/base';
@import 'main/index';
@import 'main/search';
@import 'main/show';
@import 'main/info';