$footer-link-color: #e0e0e0;
$btn-darkbg-color-hover:#5f5f5f;
$link-hover-color: #7ce5ff;

table.results {
	border:1px solid $footer-link-color;
	border-collapse: collapse;
	border-radius: 0.2rem;
	tr td{padding:3px;}
	tr.logs-border-top{border-top:1px solid $footer-link-color;}
}
pre { padding: 5px; margin: 5px;color:black; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
.log-collapsible {
	background-color: $btn-darkbg-color-hover;
	color: white;
	cursor: pointer;
	line-height: 4px;
	padding: 18px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
    &.active{
        background-color: $link-hover-color;
        color:black;
    }
}
.log-collapsible:hover {
	background-color: $link-hover-color;
	color:black;
}
.log-collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
.log-content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	width: 25vw;
	transition: max-height 0.15s ease-out;
	background-color: #f1f1f1;
}
button.action-saveAndReturn, button.action-saveAndContinue, button.action-saveAndAddAnother{
    display:none;
}
div.mobo-buttons{
	display: flex;
    flex-wrap: wrap;
    justify-content: right;
    row-gap: 1em;
    flex-direction: row;
    padding-left: 8px;
}