<tr>
    <td>{{object.getManufacturer().getShortNameIfExist()}}</td>
    <td>{{object.getName()}}</td>
    <td>{{object.getChipName()}}</td>
    <td><a class="result-link" href="./expansionchipsets/videochips/{{ object.getId() }}/edit/">Edit</a></td>
</tr>	