$text-color-anim: 150ms ease-in-out color;
$input-anim: 150ms ease-in-out border-bottom, 150ms ease-in-out background;
$tab-anim: 150ms ease-in-out opacity;
$button-anim: 150ms ease-in-out box-shadow;

$collapse-y-anim: 150ms ease-in-out height, 150ms ease-in-out transform;
$collapse-x-anim: 150ms ease-in-out width, 150ms ease-in-out transform;
