$text-color-anim: 200ms ease-in-out color;
$input-anim: 200ms ease-in-out border-bottom, 200ms ease-in-out background;
$tab-anim: 200ms ease-in-out display allow-discrete;

$collapse-y-anim: 200ms ease-in-out height, 200ms ease-in-out transform;
$collapse-x-anim: 200ms ease-in-out width, 200ms ease-in-out transform;
