$body-frg-light: #000000;
$body-bkg-light: #F9F9F9;

$body-frg-dark: #EEEEEE;
$body-bkg-dark: #151515;

$head-frg: #f3f3f3;
$head-bkg: #2c2c2c;
$head-shadow: 0px 4px 6px 0px rgba(0,0,0,0.66);
$foot-shadow: 0px -4px 6px 0px rgba(0,0,0,0.66);

$navbar-frg: #f3f3f3;
$navbar-bkg: #212121;
$navbar-shadow: 2px 0px 4px 0px rgba(0,0,0,0.66);

$navlink-normal: #f3f3f3;
$navlink-hover: #3dabf5;

$bodylink-normal: #0979c3;
$bodylink-hover: #3dabf5;
$speciallink-normal: #068604;
$speciallink-hover: #09c506;

$headinput-bkg: #3e3e3e;
$headinput-bkg-active: #666565;
$input-border-normal: 2px solid #767676;
$input-border-active: 2px solid #3dabf5;
$input-shadow: 0px 4px 6px 0px rgba(0,0,0,0.66);

$card-border-normal: 1px solid #767676;

$text-muted: #898989;
$image-bkg: #e3e3e3;
