@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

$standard-font: "Titillium Web", Tahoma, Verdana, sans-serif;
$header-font: "Titillium Web", Tahoma, Verdana, sans-serif;
$monospace-font: "IBM Plex Mono", "Cascadia Code", "Menlo", "Consolas", 'Courier New', Courier, monospace;

$font-weight-regular: 400;
$font-weight-bold: 600;
$font-weight-phat: 700;

$font-size-phat: 2.5em;
