@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&family=Inter&display=swap');

$standard-font: "Titillium Web", Tahoma, Verdana, sans-serif;
$header-font: "Titillium Web", Tahoma, Verdana, sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 600;
$font-weight-phat: 700;

$font-size-phat: 2.5em;
