{% if objectList is not empty %}
    {{ knp_pagination_render(objectList, 'macros/pagination.html.twig') }}
    <div class="plain-list">
        {% if entityName == "expansion" %}<div class="list-entry centered" style="font-style:italic;display:none;">
            <div>Name</div>
            <div>Actions</div>
        </div>{% endif %}
        {% if entityName == "io" %}<div class="list-entry centered" style="font-style:italic;display:none;">
            <div>Name</div>
            <div>Actions</div>
        </div>{% endif %}
        {% if entityName == "socket" %}<div class="list-entry centered" style="font-style:italic;display:none;">
            <div>Name</div>
            <div>Type</div>
            <div>Actions</div>
        </div>{% endif %}
        {% if entityName == "psuconnector" %}<div class="list-entry centered" style="font-style:italic;display:none;">
            <div>Name</div>
            <div>Actions</div>
        </div>{% endif %}
        {% for object in objectList %}
            {% include 'admin/manage/connectors/' ~ entityName ~ '.html.twig' with {'object':object} %}	
        {% endfor %}
    </table>
    {{ knp_pagination_render(objectList, 'macros/pagination.html.twig') }}
{% endif %}