<div class="list-entry centered">
    {% if object.getName()|length > 0 %}
        <div class="header-label">Name</div>
        <div>{{object.getName()}}</div>
    {% endif %}

    {% if object.getType()|length > 0 %}
        <div class="header-label">Type</div>
        <div>{{object.getType()}}</div>
    {% endif %}

    <div class="header-label">Actions</div>
    <div class="toolbar toolbar-thin">
        <a class="button" href="./connectors/sockets/{{ object.getId() }}/edit/">
            <img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="20"><span>Edit</span></a>
    </div>
</div>	