<tr>
    <td>{{object.getManufacturer().getShortNameIfExist()}}</td>
    <td>{{object.getName()}}</td>
    <td><a class="result-link" href="./chipsets/chipsets/{{ object.getId() }}/edit/">Edit</a></td>
</tr>	