<thead>
    <tr>
        <td><i>Manufacturer</i></td>
        <td><i>Part number</i></td>
        <td><i>Name</i></td>
        <td><i>Parts</i></td>
        <td><i>Date</i></td>
        <td><i>Action</i></td>
    </tr>
</thead>