<thead>
    <tr>
        <td><i>Manufacturer</i></td>
        <td><i>Part number</i></td>
        <td><i>Name</i></td>
        <td><i>Rank</i></td>
        <td><i>Docs?</i></td>
        <td><i>IMG?&nbsp;</i></td>
        <td><i>Action</i></td>
    </tr>
</thead>