<div class="list-entry centered{% if loop.index is divisible by(2) %} alt{% endif %}">
    <div class="header-label">Name</div>
    <div>{{object.getValueWithUnit()}}</div>

    <div class="header-label">Actions</div>
    <div class="toolbar toolbar-thin">
        <a class="button" href="./memories/cachesizes/{{ object.getId() }}/edit/">
            <img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="20">
            <span>Edit</span>
        </a>
    </div>
</div>	