{% if objectList is not empty %}
    {{ knp_pagination_render(objectList, 'macros/pagination.html.twig') }}
    <div class="plain-list table">
        {% if entityName == "ramtype" %}<div class="list-entry centered" style="font-style:italic;display:none;">
            <div>Name</div>
            <div>Actions</div>
        </div>{% endif %}
        {% if entityName == "ramsize" %}<div class="list-entry centered" style="font-style:italic;display:none;">
            <div>Name</div>
            <div>Actions</div>
        </div>{% endif %}
        {% if entityName == "cachesize" %}<div class="list-entry centered" style="font-style:italic;display:none;">
            <div>Name</div>
            <div>Actions</div>
        </div>{% endif %}
        {% for object in objectList %}
            {% include 'admin/manage/memories/' ~ entityName ~ '.html.twig' with {'object':object} %}	
        {% endfor %}
    </div>
    {{ knp_pagination_render(objectList, 'macros/pagination.html.twig') }}
{% endif %}