<div class="list-entry centered">
    <div class="header-label">Name</div>
    <div>{{object.getName()}}</div>

    <div class="header-label">Actions</div>
    <div class="toolbar toolbar-thin">
        <a class="button" href="./memories/ramtypes/{{ object.getId() }}/edit/">
            <img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="20">
            <span>Edit</span>
        </a>
    </div>
</div>