<thead>
    <tr>
        <td>Name</td><td>Version</td><td>Release date</td><td>Medias</td><td>Supported OSes</td><td>Languages</td><td>Dump quality</td><td>Protections</td><td>Action</td>
    </tr>
</thead>