<thead>
    <tr>
        <td><i>Name</i></td>
        <td><i>Version</i></td>
        <td><i>Release date</i></td>
        <td><i>Medias</i></td>
        <td><i>Supported OSes</i></td>
        <td><i>Languages</i></td>
        <td><i>Dump quality</i></td>
        <td><i>Protections</i></td>
        <td><i>Action</i></td>
    </tr>
</thead>