{% if objectList is not empty %}
    {{ knp_pagination_render(objectList, 'macros/pagination.html.twig') }}
    <div class="plain-list {% if entityName == "largefile" %}w400p{% endif %}{% if entityName == "osflag" %}w300p{% endif %} table">
        {% if entityName == "largefile" %}<div class="list-entry centered largefile" style="font-style:italic;display:none;">
            <div>Name</div>
            <div>Version</div>
            <div>Release date</div>
            <div>Media type</div>
            <div>OS support</div>
            <div>Language</div>
            <div>Dump quality</div>
            <div>Copy protection</div>
            <div>Actions</div>
        </div>{% endif %}
        {% if entityName == "osfamily" %}<div class="list-entry centered" style="font-style:italic;display:none;">
            <div>Name</div>
            <div>Logo</div>
            <div>Actions</div>
        </div>{% endif %}
        {% if entityName == "osflag" %}<div class="list-entry centered" style="font-style:italic;display:none;">
            <div>Manufacturer</div>
            <div>Name</div>
            <div>Major version</div>
            <div>Minor version</div>
            <div>Actions</div>
        </div>{% endif %}
        {% if entityName == "mediatype" %}<div class="list-entry centered" style="font-style:italic;display:none;">
            <div>Name</div>
            <div>Tag</div>
            <div>Actions</div>
        </div>{% endif %}
        {% for object in objectList %}
            {% include 'admin/manage/files/' ~ entityName ~ '.html.twig' with {'object':object} %}	
        {% endfor %}
    </div>
    {{ knp_pagination_render(objectList, 'macros/pagination.html.twig') }}
{% endif %}