<tr>
    <td>{{object.getName()}}</td>
    <td>{{object.getTagName()}}</td>
    <td><img src="{{ vich_uploader_asset(object, 'icon')}}"/></td>
    <td><a class="result-link" href="./files/mediatypes/{{ object.getId() }}/edit/">Edit</a></td>
</tr>