<tr>
    <td>{{object.getName()}}</td>
    <td><img src="{{ vich_uploader_asset(object, 'osIcon')}}"/></td>
    <td><a class="result-link" href="./files/osfamilies/{{ object.getId() }}/edit/">Edit</a></td>
</tr>	