<thead>
    <tr>
        <td><i>Manufacturer</i></td>
        <td><i>Name</i></td>
        <td><i>Major version</i></td>
        <td><i>Minor version</i></td>
        <td><i>Action</i></td>
    </tr>
</thead>